@model PagingResult<DepositListingModel>


@if (Model.List != null && Model.List.Count() > 0)
{
    foreach (var item in Model.List)
    {
        @*<tr class="odd gradeX">
                <td>@item.VendorName</td>
                <td>@item.UserName</td>
                <td> @item.CreatedAt</td>
                <td> @item.Type</td>
                <td> @item.ChkNoOrSlipId</td>
                <td style="text-align:right;">
                    @(item.Amount == null ? "0" : string.Format("{0:N0}", item.Amount))

                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @if (item.Status == DepositPaymentStatusEnum.Pending.ToString())
                    {
                        <a data-depositid="@item.DepositId" class="btn btn-danger btn-xs rejectDepositBtn" href="javascript:void(0);" data-original-title="Reject" data-toggle="tooltip">Reject</a>
                        <a data-depositid="@item.DepositId" class="btn btn-primary btn-xs approveDepositBtn" href="javascript:void(0);" data-original-title="Approve" data-toggle="tooltip">Approve</a>
                    }

                </td>
            </tr>*@

<tr class="odd gradeX">
    <td style="text-align:right;">@item.CreatedAt.ToString()</td>
    <td style="text-align:right;">@item.ValueDate</td>
    <td style="text-align:right;">@item.PosNumber</td>
    <td>@item.VendorName</td> 
    <td>@item.Type</td>
    <td style="text-align:right;">@item.ChkNoOrSlipId</td>
    <td style="text-align:right;">@(item.Amount == null ? "0" : string.Format("{0:N0}", item.Amount))</td>
    <td style="text-align:right;">@(item.PercentageAmount == null ? "0" : string.Format("{0:N0}", item.PercentageAmount))</td>
    <td>@item.Status</td>
</tr>
    }
}
else
{
    <tr class="odd gradeX">
        <td colspan="4">No Record Found</td>
    </tr>
}


