@model ResetPasswordModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="cl-mcont">
        @Html.Partial("_FunctionCallMessage")
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat changepass">
                    <div class="header">
                        <h3>@ViewBag.Title</h3>
                    </div>
                    <div class="content people-form-cs">
                        <form class="form-horizontal" role="form" id="UserForm">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Old Password*" })
                                        <div id="password-error">@Html.ValidationMessageFor(m => m.OldPassword)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password*" })
                                        <div id="password-error">@Html.ValidationMessageFor(m => m.Password)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password*" })
                                        <div id="password-error">@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row chanbtn">
                                <div class=" col-md-12">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <input type="button" class="btn btn-primary" id="changePasswordBtn" value="Change Now" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="depositReleaseModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reset Password</h4>
            </div>
            <form>
                <div class="modal-body">

                    <div class="row">
                        <div class=" col-md-12">
                            <label for="inputEmail3" class="col-md-4 control-label">Enter OTP<em>*</em></label>
                            <div class="col-md-8">
                                <input name="OTP" type="text" id="otp" class="form-control" />
                                <input name="OldPassword" type="hidden" id="old" class="form-control" />
                                <input name="Password" type="hidden" id="new" class="form-control" />
                                <input name="ConfirmPassword" type="hidden" id="pwd" class="form-control" />
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="verifyPwdButton">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            App.init();
            $("#changePasswordBtn").live("click", function () {
                return changePassword($(this));
            });
            $("#verifyPwdButton").live("click", function () {
                return verifyChangePasswordOTP($(this));
            });
        });

        function changePassword(sender) {
           
            $.ajaxExt({
                url: baseUrl + '/Home/ChangePassword',
                type: 'POST',
                validate: true,
                showErrorMessage: true,
                messageControl: $('div.messageAlert'),
                formToValidate: $(sender).parents("form:first"),
                formToPost: $(sender).parents("form:first"),
                isAjaxForm: true,
                showThrobber: true,
                button: $(sender),
                throbberPosition: { my: "left center", at: "right center", of: $(sender)},
                success: function (results, message) {
                    
                    if (message = "IsEmailVerification")
                    { 
                        window.location.href = '/Home/Dashboard';
                        return;
                    }
                    $.ShowMessage($('div.messageAlert'), message, MessageType.Success);
                    
                    $("#old").val($("#OldPassword").val())
                    $("#new").val($("#Password").val())
                    $("#pwd").val($("#ConfirmPassword").val())
                    $('#depositReleaseModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    })
                }
            });
        }
        function verifyChangePasswordOTP(sender) {
            
            $.ajaxExt({
                url: baseUrl + '/Home/VerifyChangePasswordOTP',
                type: 'POST',
                validate: true,
                showErrorMessage: true,
                messageControl: $('div.messageAlert'),
                formToValidate: $(sender).parents("form:first"),
                formToPost: $(sender).parents("form:first"),
                isAjaxForm: true,
                showThrobber: true,
                button: $(sender),
                throbberPosition: { my: "left center", at: "right center", of: $(sender) },
                success: function (results, message) {
                    $.ShowMessage($('div.messageAlert'), message, MessageType.Success);
                    setTimeout(function () {
                        window.location.href = '/Home/SignOut';
                    }, 1500);
                }
            });
        }
    </script>
}