@model  DashboardViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>
<body>
    <div class="container-fluid" id="pcont">
        <div class="dashright">
            <div class="page-head">
                <h2>Dashboard</h2>
            </div>
            <div class="cl-mcont">
              

                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <div class="widget widget-tile">
                            <div id="spark1" class="chart sparkline"></div>
                            <div class="data-info">
                                <div class="desc">Wallet</div>
                                <div class="value">
                                    <span class="indicator indicator-equal mdi mdi-chevron-right"></span><span data-toggle="counter" data-end="113" class="number">
                                        SSL @string.Format("{0:N0}", ViewBag.walletBalance)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <div class="widget widget-tile">
                            <div id="spark1" class="chart sparkline"></div>
                            <div class="data-info">
                                <div class="desc">Sales</div>
                                <div class="value">
                                    <span class="indicator indicator-equal mdi mdi-chevron-right"></span><span data-toggle="counter" data-end="113" class="number">
                                        SSL @string.Format("{0:N0}", Model.totalSales)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <div class="widget widget-tile">
                            <div id="spark2" class="chart sparkline"></div>
                            <div class="data-info">
                                <div class="desc">Deposits</div>
                                <div class="value">
                                    <span class="indicator indicator-positive mdi mdi-chevron-up"></span><span data-toggle="counter" data-end="80" data-suffix="%" class="number">
                                        @*SSL @Model.totalDeposit.ToString("#,##0.00")*@
                                        SSL @string.Format("{0:N0}", Model.totalDeposit)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <div class="widget widget-tile">
                            <div id="spark3" class="chart sparkline"></div>
                            <div class="data-info">
                                <div class="desc">Total POS</div>
                                <div class="value">
                                    <span class="indicator indicator-positive mdi mdi-chevron-up"></span><span data-toggle="counter" data-end="532" class="number">@Model.posCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <div class="widget widget-tile">
                            <div id="spark4" class="chart sparkline"></div>
                            <div class="data-info">
                                <div class="desc">Platforms</div>
                                <div class="value">
                                    <span class="indicator indicator-negative mdi mdi-chevron-down"></span><span data-toggle="counter" data-end="113" class="number">@Model.platFormModels.Count</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
@section scripts{
    <link href="~/Content/assets/css/style.min.css" rel="stylesheet" />
    <script type="text/javascript">

        $(document).ready(function () {
            //initialize the javascript
            App.init();
            
        });
    ``   </script>
}

</html>

