@model ResetPasswordModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_beforeLoginUserLayout.cshtml"; //"~/Views/Shared/_Layout.cshtml";
    ViewBag.UserId = Model.UserId;
}
<link href="/Content/sweetalert.css" rel="stylesheet" />


<div class="container-fluid">
    <div class="row">
        @Html.Partial("_FunctionCallMessage")
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row" style="height:230px;"></div>
            <section class="flave-content">
                @*<h1>VENDTECH</h1>
                <p><h1>WE MAKE THE LIGHT COME ON...</h1></p>
                <p class="sub-title"><strong>Do you want to be a vendtech agent,</strong> <br /> and also earn commissions ?</p>
                <p class="flave_forcec_center"><a class="button" href="/Home/Register">click here to join us</a></p>*@


            </section>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                @* cl-wrapper *@
                <div class="row" style="height:30%;"></div>
                <div id="" class="login-container">

                    <div class="middle-login" style="margin-top: 130px; height:500px;">
                        <div class="block-flat" style="height:470px; margin:20px; opacity:0.9;">
                            <br /><br />
                            <div class="header">
                                <h3 class="text-center"><a href="/"><img class="logo-img" src="@Url.Content("~/Content/images/logo1.jpg")" alt="logo" /></a></h3>
                            </div>
                            <br /><br />
                            <div>
                                <h6 class="text-bold text-center alert-danger"> <strong>First Time Login Password Change</strong></h6>
                                <form class="form-horizontal" role="form" id="UserForm">
                                    @*<input type="hidden" name="UserId" value="@Model.UserId" />*@
                                    @Html.HiddenFor(m => m.UserId)
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Current Password*" })
                                                <div id="password-error">@Html.ValidationMessageFor(m => m.OldPassword)</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "New Password*" })
                                                <div id="password-error">@Html.ValidationMessageFor(m => m.Password)</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm New Password*" })
                                                <div id="password-error">@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row chanbtn">
                                        <div class=" col-md-12">
                                            <div class="col-sm-offset-4 col-sm-8">
                                                <input type="button" class="btn btn-primary" id="changePasswordBtn" value="Change Now" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    
                    </div>

                </div>

            </div>
        </div>
    </div>
  
</div>



<script src="~/Scripts/UserScripts/login.js"></script>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            App.init();
            $("#changePasswordBtn").live("click", function () {
                return changePassword($(this));
            });
         
        });

        function changePassword(sender) {

            $.ajaxExt({
                url: baseUrl + '/Home/FirstTimeLoginChangePassword',
                type: 'POST',
                validate: true,
                showErrorMessage: true,
                messageControl: $('div.messageAlert'),
                formToValidate: $(sender).parents("form:first"),
                formToPost: $(sender).parents("form:first"),
                isAjaxForm: true,
                showThrobber: true,
                button: $(sender),
                throbberPosition: { my: "left center", at: "right center", of: $(sender) },
                success: function (results, message) {
                    debugger
                    window.location.href = '/Home/Dashboard';
                    $.ShowMessage($('div.messageAlert'), message, MessageType.Success);

                    //$("#old").val($("#OldPassword").val())
                    //$("#new").val($("#Password").val())
                    //$("#pwd").val($("#ConfirmPassword").val())
                    //$('#depositReleaseModal').modal({
                    //    backdrop: 'static',
                    //    keyboard: false
                    //})
                }
            });
        }
        
    </script>
}