@model LoginAPIModel
@{
    ViewBag.Title = "User Login";
    Layout = "~/Views/Shared/_beforeLoginUserLayoutv2.cshtml";
}
<link href="/Content/sweetalert.css" rel="stylesheet" />


<div class="" style="width: 420px; height: 800px; padding: 30px;">
    <div class="background-image" >
        <div style="background-color: #282828; border-radius: 20px; margin-top: 40px;">
            <div style="padding-top: 100px; margin:auto; ">
                <h3 class="text-center">
                    <img class="logo-img" src="~/Content/images/logo1.jpg" alt="logo"
                         style="width: 80%; border-radius: 10px; margin: auto;" />
                </h3>
            </div>
            <form style="padding: 10px; width: 100%; margin-top: 30px;" id="loginForm">
                <div class="" style="">
                    @*<h4 class="form-title">Already have a VENDTECH account? Login</h4>*@
                    @Html.Partial("_FunctionCallMessage")

                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <i class="fas fa-user"></i>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Username*" })
                            </div>
                            <div class="error" id="email-error">@Html.ValidationMessageFor(m => m.Email)</div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <i class="fa fa-lock"></i>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password*", @id = "password", @style = "width: 90%" })
                                <span style="cursor:pointer;" id="togglePassword" class="showpwd">
                                    <span class="fa fa-eye"></span>
                                </span>
                            </div>
                            <div class="error" id="password-error">@Html.ValidationMessageFor(m => m.Password)</div>
                        </div>
                    </div>

                </div>
                <div class="foot" style=" padding: 10px; margin-top: 30px;">
                    <button class="button button-primary button-shadow" style="" id="signInBtn" data-dismiss="modal" type="button">
                        <span style="margin-right: 3px">Log me in</span>  <i class="fas fa-spinner" style="display: none;"></i>
                    </button>
                    <a class="btn btn-warning" href="#" style="font-size: 15px">Forgot Password</a>
                </div>

                <div style="max-height: 150px; max-width: 100%; height: 200px; width: 100%; background-color: #282828;">

                </div>
            </form>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Scripts/UserScripts/login.js"></script>
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye / eye slash icon
            this.classList.toggle('bi-eye');
        });
        $(function () {
            $("#platformChangeDrp").change(function () {
                window.location.href = this.value;
            });
        })
    </script>
}
