@model LoginAPIModel
@{
    ViewBag.Title = "User Login";
    Layout = "~/Views/Shared/_beforeLoginUserLayoutv2.cshtml";
}
<link href="/Content/sweetalert.css" rel="stylesheet" />




<!-- The Modal -->
<div id="login-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content container-sm">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="modal-form">
            <div class="	">
                <h3 class="text-center">
                    <a href="/">
                        <img class="logo-img" src="~/Content/images/logo1.jpg" alt="logo"
                             style="width: 100%; border-radius: 10px;" />
                    </a>
                </h3>
            </div>
            <div>
                <form style="margin-bottom: 0 !important; " class="form-horizontal" id="loginForm">
                    <div class="content" style="padding-top: 20px">
                        @*<h4 class="form-title">Already have a VENDTECH account? Login</h4>*@
                        @Html.Partial("_FunctionCallMessage")

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                   <i class="fas fa-user"></i>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Username*" })
                                </div>
                                 <div id="email-error">@Html.ValidationMessageFor(m => m.Email)</div> 
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <i class="fa fa-lock"></i>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password*", @id = "password", @style="width: 90%" })
                                    <span style="cursor:pointer;" id="togglePassword" class="showpwd">
                                        <span class="fa fa-eye"></span>
                                    </span>
                                </div>
                                <div id="password-error">@Html.ValidationMessageFor(m => m.Password)</div>
                            </div>
                        </div>

                    </div>
                    <div class="foot">
                        <br />
                        <button class="button button-primary button-shadow" id="signInBtn" data-dismiss="modal"
                                type="button">
                            Log me in
                        </button>
                        <a class="btn btn-warning" href="#">Forgot Password</a>
                        @*  <p>New User? <a href="/Home/Register">Register</a> for an account</p>*@
                    </div>

                </form>
            </div>

        </div>
    </div>

</div>





@section scripts{
    <script src="~/Scripts/UserScripts/login.js"></script>
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye / eye slash icon
            this.classList.toggle('bi-eye');
        });
        $(function () {
            $("#platformChangeDrp").change(function () {
                window.location.href = this.value;
            });
        })
    </script>
}
