@model LoginAPIModel
@{
    ViewBag.Title = "User Login";
    Layout = "~/Views/Shared/_beforeLoginUserLayout.cshtml";
}
<link href="/Content/sweetalert.css" rel="stylesheet" />


<div class="container-fluid" >
    <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 hidden-sm hidden-xs" >
                <div class="row" style="height:120px;"></div>
                <section class="flave-content">
                    <h1 style="font-size:190px; font-weight:bold; ">VENDTECH</h1>
                    @*<p class="title"><h1>WE MAKE THE LIGHT COME ON...</h1></p>*@
                    <p  style="font-size:30px; font-weight:normal;"> Buy electricity direct from your<br /> <br /> office or home</p>
                    <br /><br />
                    @*<p style="color:#ffd800; font-size:30px;">YOU DON GET?</p>*@
                    @*<p class="flave_forcec_center"><a class="button"  href="/Home/Register">click here to join us</a></p>*@
              

                </section>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    @* cl-wrapper *@
                    <div class="row" style="height:30%;"></div>
                    <div id="" class="login-container">

                        <div class="middle-login" style="margin-top: 130px; height:500px;">
                            <div class="block-flat" style="height:400px; margin:20px; opacity:0.9;">
                                <br /><br />
                                <div class="header">
                                    <h3 class="text-center"><a href="/"><img class="logo-img" src="@Url.Content("~/Content/images/logo1.jpg")" alt="logo" /></a></h3>
                                </div>
                                <div>
                                    <form style="margin-bottom: 0 !important; " class="form-horizontal" id="loginForm">
                                        <div class="content" style="height:80%;">
                                            <h4 class="title">Already have a VENDTECH account? Login</h4>
                                            @Html.Partial("_FunctionCallMessage")

                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Username*" })
                                                    </div>
                                                    <div id="email-error">@Html.ValidationMessageFor(m => m.Email)</div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password*", @id= "password" })
                                                        <span style="cursor:pointer;" id="togglePassword" class="input-group-addon"><i class="fa fa-eye"></i></span>
                                                    </div>
                                                    <div id="password-error">@Html.ValidationMessageFor(m => m.Password)</div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="foot">
                                            <br />
                                            <button class="btn btn-primary" id="signInBtn" data-dismiss="modal" type="button">Log me in</button>
                                            <a class="btn btn-warning" href="/Home/ForgotPassword">Forgot Password</a>
                                            @*<p>New User? <a href="/Home/Register">Register</a> for an account</p>*@
                                        </div>

                                    </form>
                                </div>

                            </div>
                            <div class="row " style=" margin:0; border-bottom:6px;">

                                <center style="height:30px; background: white; width:90%;  margin:auto; padding:5px;">
                                    <p>
                                        <a href="/Home/Register" class="text-primary">
                                            NEW USER? Register for a VENDTECH account
                                        </a>
                                    </p>
                                </center>
                            </div>
                            <br />
                            @*<div class="row " style=" margin:0; border-bottom:6px;">

                                <center style="height:30px; background: white; width:90%;  margin:auto; padding:5px;">
                                    <p>
                                        <a href="/Home/Register" class="text-primary">
                                            NEW AGENT? Fill out the application form and register
                                        </a>
                                    </p>
                                </center>
                            </div>*@
                            <br />
                            <div class="row " style=" margin:0; border-bottom:6px;">

                                <center style="height:30px; width:90%; color:white;  margin:auto; padding:5px;">
                                    <p>
                                        &copy; Copyright @DateTime.Now.Year VENDTECH SL LTD, Inc. All Rights Reserved
                                    </p>
                                </center>
                            </div>

                        </div>
                    
                    </div>

                </div>
             </div>
    </div>
    @*<div class="row" style="padding-top:80px;">
        <div class="text-left " ><a href="#" style="color:aliceblue;">&copy; Copyright @DateTime.Now.Year Vendtech, Inc. All Rights Reserved</a></div>
    </div>*@
 </div>
 

@section scripts{
    <script src="~/Scripts/UserScripts/login.js"></script>
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye / eye slash icon
            this.classList.toggle('bi-eye');
        });
        $(function () {
            $("#platformChangeDrp").change(function () {
                window.location.href = this.value;
            });
        })
    </script>
}
