@model VendTech.BLL.Models.RegisterAPIModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_beforeLoginUserLayout.cshtml";
}
 
<link href="/Content/sweetalert.css" rel="stylesheet" />
<div id="cl-wrapper" class="login-container">

    <div class="middle-login">
        <div class="block-flat">
            <div class="header">
                <h3 class="text-center"><a href="/"><img class="logo-img" src="@Url.Content("~/Content/images/logo1.jpg")" alt="logo" /></a></h3>
            </div>
            <div>
                <form style="margin-bottom: 0 !important;" class="form-horizontal" id="loginForm">
                    <div class="content">
                        <h4 class="title">Application registration</h4>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*<div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>*@

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Address*" } })
                                </div>
                                <div id="email-error">@Html.ValidationMessageFor(m => m.Email)</div>
                            </div>
                        </div>

                        @*<div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>*@
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile phone*" } })
                                </div>
                                <div id="phone-error">@Html.ValidationMessageFor(m => m.Phone)</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name*" } })
                                </div>
                                <div id="fullname-error">@Html.ValidationMessageFor(m => m.FirstName)</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name*" } })
                                </div>
                                <div id="fullname-error">@Html.ValidationMessageFor(m => m.LastName)</div>
                            </div>
                        </div>


                        @*<div class="form-group">
            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Full Name*" } })
                <div id="password-error">@Html.ValidationMessageFor(m => m.FullName)</div>
            </div>
        </div>*@

                    </div>
                    <div class="foot">
                        <button class="btn btn-primary" id="registerBtn" data-dismiss="modal" type="button">Register me</button>
                        <a class="btn btn-warning" href="/Home/Index">Already have an account</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center out-links"><a href="#">&copy; Copyright @DateTime.Now.Year Vendtech, Inc. All Rights Reserved</a></div>
    </div>

</div>
@section scripts{
    <script src="~/Scripts/UserScripts/register.js"></script>
    <script>
        $(function () {
            $("#platformChangeDrp").change(function () {
                window.location.href = this.value;
            });
        })
    </script>
}




@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>RegisterAPIModel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@

