@model VendTech.BLL.Models.RegisterAPIModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_beforeLoginUserLayout.cshtml";
}

<link href="/Content/sweetalert.css" rel="stylesheet" />



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row" style="height:230px;"></div>
            <section class="flave-content">
                @*<h1>VENDTECH</h1>
                <p><h1>WE MAKE THE LIGHT COME ON...</h1></p>
                <p class="sub-title"><strong>Do you want to be a vendtech agent,</strong> <br /> and also earn commissions ?</p>
                <p class="flave_forcec_center"><a class="button" href="/Home/Register">click here to join us</a></p>*@


            </section>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                @* cl-wrapper *@
                <div class="row" style="height:30%;"></div>
                <div id="" class="login-container">

                    <div class="middle-login" style="margin-top: -15px; height:500px;">
                        <div class="block-flat" style="margin:20px; opacity:0.9;">
                            <br /><br />
                            <div class="header">
                                <h3 class="text-center"><a href="/"><img class="logo-img" src="@Url.Content("~/Content/images/logo1.jpg")" alt="logo" /></a></h3>
                            </div>
                            <div>
                                <form style="margin-bottom: 0 !important;" class="form-horizontal" id="loginForm">
                                    <div class="content">
                                        <h4 class="title">Application registration</h4>

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                         
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-building-o"></i></span>
                                                    <select class="form-control" name="Agency" id="Agency" style="font-weight:bold; text-transform:uppercase; font-size:20px;">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-certificate"></i></span>
                                                    <select class="form-control" id="isCompany" style="font-weight:bold; text-transform:uppercase; font-size:20px;">
                                                        <option value="Individual">INDIVIDUAL</option>
                                                        <option value="Company">COMPANY</option>
                                                    </select>
                                                    @Html.HiddenFor(model => model.IsCompany, new { @id = "beTrueIfIsCompany" })
                                                    @*@Html.DropDownListFor(m => m.Individual_or_company, new SelectList(Enum.GetValues(typeof(Individual_or_company))),
                    new { @class = "form-control", @id = "isCompany", @style = "font-weight:bold; text-transform:uppercase; font-size:20px;" })*@
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group for_company" style="display:none;">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                                                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Company Name *" } })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name *", @id = "first_name" } })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name *", @id = "last_name" } })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email *" } })
                                                </div>
                                                <div id="email-error">@Html.ValidationMessageFor(m => m.Email)</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                                    <div class="" style="width:23%;">
                                                        <select name="CountryCode" class="form-control" style="font-weight:bold; font-size:12px;">
                                                            <option value="+232">+232</option>
                                                        </select>
                                                    </div>
                                                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { style = "width:77%;", @class = "form-control col-md-10 col-sm-10", @placeholder = "Number *", } })
                                                </div>
                                                <div id="mobile-error">@Html.ValidationMessageFor(m => m.Mobile)</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address *" } })
                                                </div>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                                    <select class="form-control" name="Country" id="Country">
                                                        <option value="">Select Country</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                                    <select id="City" name="City" class="form-control">
                                                        <option value="">Select City</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="foot">
                                        <a class="btn btn-primary" href="/Home/Index">Back to login</a>
                                        <button class="btn btn-warning" id="registerBtn" data-dismiss="modal" type="button">Register</button>
                                    </div>
                                </form>
                            </div>

                        </div> 
                    </div>

                </div>

            </div>
        </div>
    </div> 
</div>
 


@section scripts{
    <script src="~/Scripts/UserScripts/register.js"></script>
    <script>
        $(function () {
            $("#platformChangeDrp").change(function () {
                window.location.href = this.value;
            });
        })

        $(function() {
            
           
            $("#isCompany").change(function () {  
                if (this.value === "Individual")
                {
                    $("#beTrueIfIsCompany").val(false)
                    $(".for_company").hide();
                    $("#first_name").attr("placeholder", "First Name *");
                    $("#last_name").attr("placeholder", "Last Name *"); 
                }
                    
                if (this.value === "Company")
                {
                    $("#beTrueIfIsCompany").val(true)
                    $(".for_company").show();
                    $("#first_name").attr("placeholder", "REP. First Name *");
                    $("#last_name").attr("placeholder", "REP. Last Name *"); 
                }
            })

        });

        $(document).ready(function () {
             

            $("#Country").change(onCountryChange);  
              onCountryChange();
            loadAllCountries();
            loadAllAgencies();

            $("input[type=button]#saveProfileBtn").live("click", function () {
                return UpdateProfile($(this));
            });
            //initialize the javascript
            App.init();
            //Templates.ManageTemplates(totalCount);
          });


        function loadAllAgencies() {
            var array = @Html.Raw(Json.Encode( ViewBag.Agencies));
            if (array.length > 0)
            { 
                        for (var i = 0; i < array.length; i++) {
                            $("#Agency").append("<option value="+array[i].Value+">"+array[i].Text+" </option>")
                        } 
            }
        }

        function loadAllCountries() {
            var array = @Html.Raw(Json.Encode(ViewBag.countries));
            if (array.length > 0)
            { 
                        for (var i = 0; i < array.length; i++) {
                            $("#Country").append("<option value="+array[i].Value+">"+array[i].Text+" </option>")
                        } 
            }
        }

        function onCountryChange() {
            $("#City").empty();
            $("#City").append("<option value=''> Select City </option>") 
                var val = $("#Country").val();
                var array = @Html.Raw(Json.Encode(ViewBag.Cities));
                if (val) {
                    var records=   array.filter(p=>p.CountryId==val);
                    if(records.length>0){

                        for (var i = 0; i < records.length; i++) {
                            $("#City").append("<option value="+records[i].CityId+">"+records[i].Name+" </option>") 

                        }
                        $("#City").val('@Model.City');
                    }
                }
        }

   
    </script>
}

