@model List<DepositListingModel>


    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr class="odd gradeX">
                <td style="text-align:right"> @item.CreatedAt</td>
                <td style="text-align:right"> @item.ValueDate</td>
                <td style="text-align:right"> @item.PosNumber</td>
                <td style="text-align:left">@item.VendorName</td>
                <td> @item.Type</td>
                <td> @item.Bank</td>
                <td style="text-align:right"> @item.ChkNoOrSlipId</td>
                <td style="text-align:right"><strong>@VendTech.BLL.Common.Utilities.FormatAmount(item.Amount)</strong></td>
                <td style="text-align:right"><strong>@VendTech.BLL.Common.Utilities.FormatAmount(item.PercentageAmount)</strong></td>
                <td style="text-align:right"><strong>@VendTech.BLL.Common.Utilities.FormatAmount(item.NewBalance)</strong></td>
            </tr>
        }
    }
    @*else
    {
        <tr class="odd gradeX">
            <td colspan="9" style="font-weight:bold;">SEARCH COMPLETE! No marching record found</td>
        </tr>
    }*@


