@model PagingResultWithDefaultAmount<BalanceSheetListingModel>



@if (Model.List != null && Model.List.Count() > 0)
{
    foreach (var item in Model.List)
    {
        var deposit = item.TransactionType == "Deposit" ? "font-weight: bold; color: green;" : "";
        <tr class="odd gradeX">
            <td style='text-align: right; @deposit'> @item.DateTime.ToString("dd/MM/yyyy hh:mm")</td>
            <td style="text-align:right; @deposit"> @item.TransactionId</td>
            <td style="text-align:left; text-transform:uppercase; @deposit">
                @item.TransactionType
            </td>
            <td style="text-align:right; @deposit"> @item.Reference</td>
            <td style="text-align:right; @deposit">
                <span style="@deposit">  @VendTech.BLL.Common.Utilities.FormatAmount(item.BalanceBefore)</span>
            </td>
            <td style="text-align:right; @deposit">
                @if (item.DepositAmount == 0)
                {
                    <span>-</span>
                }
                else
                {
                    <span style="@deposit">  @VendTech.BLL.Common.Utilities.FormatAmount(item.DepositAmount)</span>
                }
            </td>

            <td style="text-align:right;">
                @if (item.SaleAmount == 0)
                {
                    <span>-</span>
                }
                else
                {
                    <span style="@deposit">  @VendTech.BLL.Common.Utilities.FormatAmount(item.SaleAmount)</span>
                }
            </td>
            <td style="text-align:right;">
                @if (item.Balance == 0)
                {
                    <span>-</span>
                }
                else
                {
                    <span style="@deposit">  @VendTech.BLL.Common.Utilities.FormatAmount(item.Balance)</span>
                }
            </td>
        </tr>
    }
}
else
{
    <tr class="odd gradeX">
        <td colspan="9" style="font-weight:bold;">SEARCH COMPLETE! No marching record found</td>
    </tr>
}


