@model PagingResult<MeterRechargeApiListingModel>


@if (Model.List != null && Model.List.Count() > 0)
{
    foreach (var item in Model.List)
    {
    <tr class="odd gradeX">
        <td style="text-align:right;"> @item.CreatedAtDate.ToString("dd/MM/yyyy hh:mm")</td>
        <td style="text-align:left;"> @item.ProductShortName</td>

        <td style="text-align:right;"> @item.TransactionId</td>
        <td style="text-align:right;"> @item.MeterNumber</td>
        <td> @item.VendorName</td>
        <td style="text-align:right;"> @item.POSId</td> 
        <td style="text-align:center;"> <strong> <a href="javascript:void(0);" data-token="@item.RechargePin" onclick="fetchVoucherDetailsByToken('@VendTech.BLL.Common.Utilities.FormatThisToken(item.RechargePin)')" id="@item.RechargePin"> @VendTech.BLL.Common.Utilities.FormatThisToken(item.RechargePin) </a></strong></td>
        <td style="text-align:right;"> <strong>  @VendTech.BLL.Common.Utilities.FormatAmount(item.Amount)</strong> </td>
    </tr>
    }
}
else
{
    <tr class="odd gradeX">
        <td colspan="9" style="font-weight:bold;">SEARCH COMPLETE! No marching record found</td>
    </tr>
}


