
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/images/vt_logo.PNG"> 
    <title>User Panel</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <![endif]-->
    @Styles.Render("~/Content/adminLayoutCSS")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/userStyle.css" rel="stylesheet" />

</head>
<body>
    <header>
        @Html.Partial("_Header")
    </header>
    @{ var user = (UserDetails)ViewBag.LOGGEDIN_USER; }
<section id="cl-wrapper" class="fixed-menu content">
    @Html.Partial("_SideBaar")

    @if (user.UserType == UserRoles.AppUser)
    {
        if (user.IsEmailVerified)
        {
            if (user.Status == (int)UserStatusEnum.Active)
            {
                @RenderBody()
            }
            else
            {

            <div class="jumbotron">

                <div class="row text-center">
                    <H1>Please hold on as we are currently working on activating your account</H1>
                    <p>
                        Please contact <a href="mailto:vblell@gmail.com">VENDTECH</a> for more information
                    </p>
                </div>

            </div>
            }

        }
    }
    else
    {
        <div><H1>Access denied! You do not have permission to access this corner</H1></div>
    }


</section>
    
    <footer>
        <style>
            nopadding{
                margin-right:0px;
                padding-right :0px;
            }
        </style>

        <div class="social row col-md-6 col-sm-12 col-xs-12 pull-right  content">
            <div class="col-md-3 " > <a href="@Url.Action("TermsAndConditions", "Home")" style="text-align:right !important; ">Terms And Conditions</a></div>
            <div class="col-md-1 " ><span style="color:white;"> | </span> </div>
            <div class="col-md-2 " ><a href="@Url.Action("PrivacyPolicy", "Home")" style="text-align:right;">Privacy Policy </a></div>
            <div class="col-md-1 " > <span style="color:white;"> |</span> </div>
            <div class="col-md-4 " ><span style="color:white;">Vendtech SL. LTD &copy @DateTime.UtcNow.Year</span></div>



        </div> 
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/extendedjs")
    @Scripts.Render("~/bundles/themeSpecific")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            setInterval(function () {

                $.ajax({
                    url: '/Home/AutoLogout',
                    success: function (data) {
                        if (data.Status != 1) {
                            //window.location.href = '/Home/Index';
                        }
                    }
                })
            }, 60000);
        })
    </script>

</body>
</html>
