@using VendTech.BLL.Models
@{
    var user = (UserDetails)ViewBag.LOGGEDIN_USER;
    var assignerModules = (List<ModulesModel>)ViewBag.USER_PERMISSONS;
}

<div class="cl-sidebar" data-position="right" data-step="1" data-intro="">

    <div class="cl-navblock">
        <div class="menu-space">
            <div class="content">
                @if (user.IsEmailVerified)
                {
                    <ul class="cl-vnavigation" style="display: none;" id="IsVerified">

                        @*<li><a href="@Url.Action("Dashboard", "Home")"><i class="fa fa-columns"></i><span>Dashboard</span></a></li>*@
                        @if (assignerModules.Where(X => X.ControllerName == "26").ToList().Count() > 0 && user.UserType == UserRoles.AppUser)
                        {
                            <li><a class="@(ViewBag.SelectedTab == SelectedAdminTab.Agents ? "active" : "")" href="@Url.Action("ManageAgents", "Agents")"><i class="fa fa-table"></i><span>Manage Vendors</span></a></li>
                        }
                        @if (assignerModules.Where(X => X.ControllerName == "19").ToList().Count() > 0 && user.UserType == UserRoles.AppUser)
                        {
                            <li><a class="@(ViewBag.SelectedTab == SelectedAdminTab.BillPayment ? "active" : "")" href="@Url.Action("Utility", "Meter")"><i class="fa fa-shopping-cart"></i><span>Bill Payment</span></a></li>
                        }
                        @if (assignerModules.Where(X => X.ControllerName == "20").ToList().Count() > 0 && user.UserType == UserRoles.AppUser)
                        {
                            <li class="@(ViewBag.SelectedTab == SelectedAdminTab.Meters ? "open" : "")">
                                    <a href="@Url.Action("Index", "Meter")"><i class="fa fa-tachometer"></i><span>Saved Meters</span></a>
                                </li>
                            //hidden - sm hidden - xs
                            <li class="@(ViewBag.SelectedTab == SelectedAdminTab.Meters ? "open" : "")">
                                <a href=""><i class="fa fa-tachometer"></i><span>Saved Numbers</span></a>
                                <ul class="sub-menu" style="@(ViewBag.SelectedTab == SelectedAdminTab.Meters ? "display:block;" : "display:none;")">
                                    <li><a href="@Url.Action("Index", "Meter")">Meter Numbers</a></li>
                                    <li><a href="@Url.Action("Index", "SavedPhoneNumbers")">Phone Numbers</a></li>
                                </ul>
                            </li>
                        }
                        @if (assignerModules.Where(X => X.ControllerName == "4").ToList().Count() > 0 && user.UserType == UserRoles.AppUser)
                        {
                            <li><a class="@(ViewBag.SelectedTab == SelectedAdminTab.POS ? "active" : "")" href="@Url.Action("ManagePos", "POS")"><i class="fa fa-user"></i><span>Manage POS</span></a></li>
                        }
                        @if (assignerModules.Where(X => X.ControllerName == "18").ToList().Count() > 0 && user.UserType == UserRoles.AppUser)
                        {
                            <li><a class="@(ViewBag.SelectedTab == SelectedAdminTab.Deposits ? "active" : "")" href="@Url.Action("Index", "Deposit")"><i class="fa fa-money"></i><span>Wallet</span></a></li>
                        }

                        @if (assignerModules.Where(X => X.ControllerName == "9").ToList().Count() > 0 && user.UserType == UserRoles.AppUser)
                        {
                            <li><a class="@(ViewBag.SelectedTab == SelectedAdminTab.Reports ? "active" : "")" href="@Url.Action("SalesReport", "Report")"><i class="fa  fa-file-text"></i><span>Reports</span></a></li>
                        }
                        @if (assignerModules.Where(X => X.ControllerName == "31").ToList().Count() > 0 && user.UserType == UserRoles.AppUser)
                        {
                            <li><a class="@(ViewBag.SelectedTab == SelectedAdminTab.Transfer ? "active" : "")" href="@Url.Action("Index", "Transfer")"><i class="fa  fa fa-exchange"></i><span>Transfer</span></a></li>
                        }
                        @if (user.UserType == UserRoles.AppUser)
                        {
                            <li class="@(ViewBag.SelectedTab == SelectedAdminTab.Users ? "open" : "") hidden-md hidden-lg">
                                <a href="@Url.Action("EditProfile", "User")"><i class="fa fa-user"></i><span>Manage Profile</span></a>
                            </li>
                            <li class="@(ViewBag.SelectedTab == SelectedAdminTab.Users ? "open" : "") hidden-sm hidden-xs">
                                <a href="#"><i class="fa fa-user"></i><span>Manage Profile</span></a>
                                <ul class="sub-menu" style="@(ViewBag.SelectedTab == SelectedAdminTab.Users ? "display:block;" : "display:none;")">
                                    <li><a href="@Url.Action("EditProfile", "User")">Edit Profile</a></li>
                                    <li><a href="@Url.Action("ChangePassword", "Home")">Change Password</a></li>
                                </ul>
                            </li>
                        }

                    </ul>
                }


            </div>
        </div>
    </div>
</div>

