@model PagingResult<MeterAPIListingModel>
@{ int i = 0;

    
    }
@foreach (var item in Model.List)
{
    string disable = item.PlatformDisabled ? "disabled-link" : "";
    var provider = 0;
    if (item.MeterMake == "AFRICELL")
    {
        provider = 3;
    }
    else
    {
        provider = 2;
    }

    i += 1;
    <tr>
        <th scope="row">@i</th>
        <td>  <a title="Recharge" class="recharge col-md-4 @disable" data-id="@item.Number" href='@Url.Action("Recharge", "Airtime", new {provider = provider, number = item.Number })'> @item.Number</a>   </td>
        <td>@item.Name</td>
        <td>@item.Alias</td>
        <td>@item.MeterMake</td>
        <td>@item.CreatedAt.ToString("dd MMMM yyyy")</td>
        <td>@item.isVerified</td>
        <td>
            @if (!ViewBag.IsDisable)
            {
                <a title="Edit" class="editthis col-md-4" data-id="@item.MeterId" href='@Url.Action("EditPhoneNumbers", "SavedPhoneNumbers", new {Id=item.MeterId })'><i class="fa fa-edit"></i></a>
            }
            else
            {
                <a title="Edit" class="editthis  col-md-4" data-id="@item.MeterId" onclick="alert('You do not have the permission to modify this meter number')"><i class="fa fa-edit"></i></a>
            }
        </td>
        <td>
            @if (item.isVerified)
            {
                <a title="Recharge" class="recharge col-md-4 @disable" data-id="@item.MeterId" href='@Url.Action("Recharge", "Airtime", new {provider = provider,  number = item.Number })'><i class="fa fa-money text-success"></i></a>
            }
        </td>
    </tr>
}