@model PagingResult<DepositListingModel>
     

@if (Model.List != null && Model.List.Count() > 0)
{
    foreach (var item in Model.List)
    {
    <tr class="odd gradeX">
        <td style="text-align:right;"> @item.CreatedAt</td>
        <td style="text-align:right;"> @item.ValueDate</td>
        <td style="text-align:right;">@item.PosNumber</td>
        <td>@item.UserName</td>
        <td> @item.Type</td>
        <td style="text-align:right;"> @item.ChkNoOrSlipId</td>
        <td style="text-align:right;">
            @(item.Amount == null ? "0" : string.Format("{0:N0}", item.Amount))
        </td>
        <td style="text-align:right;">
            @(item.PercentageAmount == null ? "0" : string.Format("{0:N0}", item.PercentageAmount))
        </td>
        <td>
            @item.Status
        </td>
        <td style="text-align:center">
            @if (item.Status == DepositPaymentStatusEnum.Released.ToString())
            {
                <input type="checkbox" id="@("reverseChk"+item.DepositId)" class="reverseChkBox" value="@item.DepositId" />
            }

            @if (item.Status == DepositPaymentStatusEnum.Reversed.ToString())
            {
                <input type="checkbox" id="@("reverseChk"+item.DepositId)" class="reverseChkBox" disabled />
            }
        </td>
        <td style="text-align:center">
            @if (item.Status == DepositPaymentStatusEnum.Released.ToString())
            {
                <input type="button" id="btn btn-sm btnReverse" onclick="viewReleasedDeposit('@item.UserName', '@item.VendorName', '@item.PosNumber', '@item.Bank', '@item.CreatedAt', '@item.ValueDate', '@item.ChkNoOrSlipId', '@item.IssuingBank', '@item.Payer', '@item.Type', '@string.Format("{0:N0}", item.Amount)', '@string.Format("{0:N0}", item.PercentageAmount)', '@item.DepositId')" style="border: 0.8px solid #ffd800; background:#ffd800; font-weight:bold; color:#ffffff; border-radius:6px;" class="" value="View" />
            }
            @if (item.Status == DepositPaymentStatusEnum.Reversed.ToString())
            {
                <input type="button" id="btn btn-sm btnReverse" disabled style="border: 0.8px solid #143f17; background:#143f17; font-weight:bold; color:#143f17; border-radius:6px;" class="" value="####" />
            }
        </td>
    </tr>
    }
}
else
{
    <tr class="odd gradeX">
        <td colspan="9">No Record Found</td>
    </tr>
}


