
@model PlatformApiModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml";
   
}

<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h2>@Html.Raw(ViewBag.MainPageHeader)</h2>
    </div>
    <div class="cl-mcont">

        <!-- TODO we need to understand what this is for -->
        @Html.Partial("_FunctionCallMessage")

        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <div class="header">
                        <h3>@ViewBag.MainPageHeader</h3>
                    </div>
                    <div class="content people-form-cs">

                        <form class="form-horizontal" role="form" id="platformApiForm">

                            @Html.HiddenFor(x => x.Id)

                            <div class="form-group">
                                <div class="row">
                                    <div class=" col-md-12">
                                        <label for="Name" class="col-md-2 control-label">NAME<em>*</em></label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Name)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" col-md-12">
                                        <label for="platformApi" class="col-md-2 control-label">API Type<em>*</em></label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(x => x.ApiType, Model.ApiTypeList, null, new { @class = "form-control", @style = "" })
                                            @Html.ValidationMessageFor(x => x.ApiType)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" col-md-12">
                                        <label for="platformApi" class="col-md-2 control-label">Currency<em>*</em></label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(x => x.Currency, Model.CurrencyList, null, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Currency)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" col-md-12">
                                        <label for="platformApi" class="col-md-2 control-label">Status<em>*</em></label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(x => x.Status, Model.StatusTypeList, null, new { @class = "form-control", @style = "width: 40%;" })
                                            @Html.ValidationMessageFor(x => x.Status)
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class=" col-md-6">
                                        <div class="col-sm-offset-4 col-sm-8">
                                            <a href="@Url.Action("PlatformApis", "PlatformApi", new { area = "Admin" })" class="btn btn-default">Cancel</a>
                                            &nbsp;
                                            <input type="button" class="btn btn-primary" id="submitApiBtn" value="Submit" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
    </script>
    <script src="~/Scripts/AdminScripts/platform.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            //initialize the javascript
            App.init();

            $("input[type=button]#submitApiBtn").live("click", function () {
                return SubmitApi($(this))
            });

            function SubmitApi(sender) {
                $.ajaxExt({
                    url: baseUrl + '/Admin/PlatformApi/UpdatePlatformApi/',
                    type: 'POST',
                    validate: true,
                    showErrorMessage: true,
                    messageControl: $('div.messageAlert'),
                    formToValidate: $(sender).parents("form:first"),
                    formToPost: $(sender).parents("form:first"),
                    isAjaxForm: true,
                    showThrobber: true,
                    button: $(sender),
                    throbberPosition: { my: "left center", at: "right center", of: $(sender) },
                    success: function (results, message) {
                        $.ShowMessage($('div.messageAlert'), message, MessageType.Success);
                        setTimeout(function () {
                            window.location.href = baseUrl + '/Admin/PlatformApi/PlatformApis';
                        }, 1500);
                    }
                });
            }

        });
    </script>
}



