
@model PlatformApiConnectionModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml";

}

<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h2>@Html.Raw(ViewBag.MainPageHeader)</h2>
    </div>
    <div class="cl-mcont">

        <!-- TODO we need to understand what this is for -->
        @Html.Partial("_FunctionCallMessage")

        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <div class="header">
                        <h3>@ViewBag.MainPageHeader</h3>
                    </div>
                    <div class="content people-form-cs">

                        @using (@Html.BeginForm("CreateApiConnection", "PlatformApi", FormMethod.Post, new
                        {
                            @id = "registerFormId",
                            @class = "form-horizontal",
                            role = "form",
                            @onsubmit = "return confirm('Are you sure you want to create PAC?');"
                        }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.HiddenFor(x => x.Id)
                            @Html.HiddenFor(x => x.PlatformId)

                            <div class="form-group">
                                <div class="row">
                                    <div class=" col-md-12">
                                        <label for="Name" class="col-md-2 control-label">Name<em>*</em></label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Name)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" col-md-12">
                                        <label for="platformApi" class="col-md-2 control-label">API<em>*</em></label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(x => x.PlatformApiId, (List<SelectListItem>)@ViewBag.ApiList, null, new { @class = "form-control", @style = "" })
                                            @Html.ValidationMessageFor(x => x.PlatformApiId)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" col-md-12">
                                        <label for="platformApi" class="col-md-2 control-label">Status<em>*</em></label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(x => x.Status, (List<SelectListItem>)@ViewBag.StatusTypeList, null, new { @class = "form-control", @style = "width: 40%;" })
                                            @Html.ValidationMessageFor(x => x.Status)
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class=" col-md-6">
                                        <div class="col-sm-offset-4 col-sm-8">
                                            <a href="@Url.Action("PlatformApiConnections", "PlatformApi", new { area = "Admin", id = @ViewBag.PlatformId })" class="btn btn-default">Cancel</a>
                                            &nbsp;
                                            <input type="submit" class="btn btn-primary" value="Create Plaform API Conn" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/AdminScripts/platform.js"></script>
    
}




