@model PagingResult<DepositListingModel>
@{
    ViewBag.Title = "Deposit Reverse";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml";
}

<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h2>Deposit Reversal</h2>

    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <div class="content">
                        <div class="table-responsive deopsitReverse">
                            @Html.Partial("_SearchFilter", new PagingModel { SortBy = "CreatedAt", SortOrder = "Desc" })
                            <div class="otpdiv">
                                <h3 class=""> <a href="javascript:void(0)" id="sendOTPBtn" class="btn btn-primary pull-right" title="Send OTP"><i class="fa fa-save "></i><super></super></a></h3>
                                <label style="font-size: 24px; color: #00a2e8 !important;">SLL: @(ViewBag.Balance == null ? "0" : string.Format("{0:N0}", ViewBag.Balance)) </label>
                            </div>
                            <div id="divResult">
                                <table class="table table-bordered" id="datatable-icons">
                                    <thead>
                                        <tr>
                                            <th>DATE/TIME</th>
                                            <th>VALUE DATE</th>
                                            <th>POS ID</th>
                                            <th>VENDOR</th>
                                            <th>APPROVER</th>
                                            <th> TYPE</th>
                                            <th>REF #</th>
                                            <th>AMOUNT</th>
                                            <th>%</th>
                                            <th>STATUS</th> 
                                            <th>REVERSE</th>
                                            <th>VIEW</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.Partial("Partials/_depositReverseListing", Model)
                                    </tbody>
                                </table>
                            </div>  

                        </div>
                        @Html.Partial("_Paging")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="depositReverseModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deposit Reversal</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class=" col-md-12">
                        <label for="inputEmail3" class="col-md-4 control-label">Enter OTP<em>*</em></label>
                        <div class="col-md-8">
                            <input type="text" id="otp" class="form-control" />
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ChangeDepositStatus()">Submit</button>
            </div>
        </div>

    </div>
</div>

<div id="depositReverseViewModal" class="modal fade" role="dialog">
    <div class="modal-dialog"> 
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deposit Reverse</h4>
            </div>
            <div class="modal-body">
                <style>
                    .my_rows{
                        width:80%;
                    }

                </style>
                <div class="row">
                    <input type="hidden" value="0" id="depositId"/>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">USER NAME</label>
                        <div class="col-md-8">
                            <strong class="form-control" id="usern_name">Emmanuel Favour</strong>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">VENDOR</label>
                        <div class="col-md-8">
                            <strong class="form-control" id="vendor">MARVICE ENTERPRISE</strong>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">POS</label>
                        <div class="col-md-8">
                            <strong class="form-control" id="pos">10032</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">BANK</label>
                        <div class="col-md-8">
                            <strong class="form-control" id="bank">GT-BANK</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">DATETIME</label>
                        <div class="col-md-8">
                            <strong class="form-control" id="date_time">12/12/2020</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">VALUE DATE</label>
                        <div class="col-md-8">
                            <strong class="form-control" id="value_date">12/12/2020</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">CHX/CASH</label>
                        <div class="col-md-8">
                            <strong class="form-control" id="chx_cash">CHEQUE</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">PAYER BANK</label>
                        <div class="col-md-8">
                            <strong class="form-control" id="payer_bank">ACESS BANK</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">PAYER</label>
                        <div class="col-md-8">
                            <strong class="form-control" id="payer">FLAVE</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">DEPOSIT REF#</label>
                        <div class="col-md-8">
                            <strong class="form-control" id="deposit_ref">##########</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">AMOUNT</label>
                        <div class="col-md-8">
                            <strong class="form-control" id="amount">45,000,000</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-4 control-label">PLUS %</label>
                        <div class="col-md-8">
                            <strong class="form-control" id="plus">45,450,000</strong>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer"> 
                <button type="button" class="btn btn-primary" onclick="singleReverClick()">Reverse</button>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script src="~/Scripts/UserDefinedScripts/paging.js"></script>
    <script type="text/javascript">
        var totalCount = "@Model.TotalCount";
    </script>
    <script src="~/Scripts/AdminScripts/depositReverse.js"></script>


    <script type="text/javascript">
        $("#searchField").show();
        var searchFields = ["POS ID", "USER NAME","PAYMENT TYPE", "CHEQUE # OR REG ID", "AMOUNT","%","STATUS"];
        for (var i = 0; i < searchFields.length; i++) {
            $("#searchField").append("<option value=" + searchFields[i] + ">" + searchFields[i] + "  </option>")
        }

      
        $(document).ready(function () {
            
            //initialize the javascript
            App.init();
           
            Deposits.ManageDeposits(totalCount);
        
        });
    </script>
}

