@model PlatformTransactionModel

@{
    ViewBag.Title = "Execute Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h2>Execute Transaction</h2>
    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <div class="header">

                    </div>
                    <div class="content people-form-cs">

                        @if (!string.IsNullOrEmpty(ViewBag.Message))
                        {
                            <div class="alert alert-success fade in" role="alert">
                                @Html.Raw(ViewBag.Message);
                            </div>
                        }

                        @using (@Html.BeginForm("Execute", "PlatformTransaction", FormMethod.Post, 
                            new { 
                                @onsubmit = "return confirm('Execute transaction?');",
                                @class = "form-horizontal"
                            }
                        ))
                        {
                            @Html.AntiForgeryToken()

                            <div class="row">
                                <div class=" col-md-12">
                                    <label for="PosId" class="col-md-2 control-label">POS<em>*</em></label>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(x => x.PosId, (List<SelectListItem>)@ViewBag.UserPosList, null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.PosId)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-md-12">
                                    <label for="PlatformId" class="col-md-2 control-label">Platform Product<em>*</em></label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(x => x.PlatformId, (List<SelectListItem>)@ViewBag.Products, null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.PlatformId)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-md-12">
                                    <label for="Beneficiary" class="col-md-2 control-label">Target<em>*</em></label>
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.Beneficiary, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Beneficiary)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-md-12">
                                    <label for="platformApi" class="col-md-2 control-label">Amount<em>*</em></label>
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.Amount, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Amount)
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class=" col-md-6">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <a href="@Url.Action("Index", "PlatformTransaction")" class="btn btn-default">Cancel</a>
                                        &nbsp;
                                        <input type="submit" class="btn btn-primary" value="Execute TNX" />
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



