@model PlatformTransactionModel

@{
    ViewBag.Title = "Execute Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h2>Transaction Details</h2>
    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <div class="header">

                    </div>
                    <div class="content people-form-cs">

                        @{
                            string alertClass = "alert-";
                            string alertText = "Transaction ";
                            switch ((TransactionStatus)Model.Status)
                            {
                                case TransactionStatus.Pending:
                                case TransactionStatus.InProgress:
                                    alertClass += "warning";
                                    alertText += "Pending";
                                    break;
                                case TransactionStatus.Successful:
                                    alertClass += "success";
                                    alertText += "Successful";
                                    break;
                                default:
                                    alertClass += "danger";
                                    alertText += "Failed";
                                    break;
                            }
                        }
                        <div class="alertWithDetails alert @alertClass fade in">
                            <p style="font-size:1.1em; font-weight: bold">@alertText</p>

                            <div><span class="boldFont">ID:&nbsp;</span> <span>@Model.Id</span></div>
                            <div><span class="boldFont">Product:&nbsp;</span> <span>@Model.PlatformName (#@Model.PlatformId)</span></div>
                            <div><span class="boldFont">Product Type:&nbsp;</span> <span>@Model.PlatformTypeName</span></div>
                            <div><span class="boldFont">Beneficiary</span>:&nbsp;<span>@Model.Beneficiary</span></div>
                            <div><span class="boldFont">Operator Reference</span>:&nbsp;<span>@Model.OperatorReference</span></div>
                            <div><span class="boldFont">Amount</span>:&nbsp;<span>@Model.Amount @Model.Currency</span></div>
                            @{
                                if (!string.IsNullOrWhiteSpace(Model.PinNumber))
                                {
                                    <div><span class="boldFont">PIN Number</span>:&nbsp;<span>@Model.PinNumber</span></div>
                                }
                                if (!string.IsNullOrWhiteSpace(Model.PinSerial))
                                {
                                    <div><span class="boldFont">Serial</span>:&nbsp;<span>@Model.PinSerial</span></div>
                                }
                                if (!string.IsNullOrWhiteSpace(Model.PinInstructions))
                                {
                                    <div><span class="boldFont">Instructions</span>:&nbsp;<span>@Model.PinInstructions</span></div>
                                }
                            }
                            <div><span class="boldFont">Status</span>:&nbsp;<span>@Model.StatusName</span></div>
                        </div>

                        <a href=""
                           <a href="@Url.Action("Index", "PlatformTransaction")" class="btn btn-default">Close</a>
                        &nbsp;&nbsp;&nbsp;
                         <a href="@Url.Action("Execute", "PlatformTransaction")" class="btn btn-primary">New Transaction</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



