@model AddUserModel
@{
    ViewBag.Title = "Add APP User Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml";
}

<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="cl-mcont">
        @Html.Partial("_FunctionCallMessage")
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <div class="header">
                        <h3>@ViewBag.Title</h3>
                    </div>
                    <div class="content people-form-cs">
                        <form class="form-horizontal" role="form" id="UserForm" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="inputEmail3" style="text-align:left;" class="col-md-12 control-label">FIRST NAME<em>*</em></label>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.FirstName)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail3" style="text-align:left;" class="col-md-12 control-label">LAST NAME<em>*</em></label>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.LastName)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail3" style="text-align:left;" class="col-md-12 control-label">EMAIL<em>*</em></label>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Email)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail3" style="text-align:left;" class="col-md-12 control-label">PASSWORD</label>
                                        <div class="col-sm-12">
                                            <div class="input-group">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password*", @id = "password" })
                                                <span style="cursor:pointer; background:white" id="togglePassword" class="input-group-addon"><i class="fa fa-eye"></i></span>
                                            </div>
                                            <div id="password-error">@Html.ValidationMessageFor(m => m.Password)</div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="inputEmail3" style="text-align:left;" class="col-md-12 control-label">CONFIRM PASSWORD</label>
                                        <div class="col-sm-12">
                                            <div class="input-group">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Password*", @id = "confirmPassword" })
                                                <span style="cursor: pointer; background: white" id="toggleConfirmPassword" class="input-group-addon"><i class="fa fa-eye"></i></span>
                                            </div>
                                            <div id="password-error">@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="address" style="text-align:left;" class="col-md-12 control-label">ADDRESS </label>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Address)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" style="text-align:left;" class="col-md-12 control-label">CELLPHONE<em>*</em></label>
                                        <div class="col-md-2">
                                            <select name="CountryCode" class="form-control">
                                                <option value="+232">+232</option>
                                            </select>
                                        </div>
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-12">@Html.ValidationMessageFor(x => x.Phone)</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail3" style="text-align:left;" class="col-md-12 control-label">VENDOR NAME</label>
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(x => x.VendorId, new SelectList(ViewBag.Vendors, "value", "text"), "Select Vendor", new { @class = "form-control" })
                                            <span class="help-block">If you select a vendor, then this user will be assigned to this Vendor.</span>
                                            @Html.ValidationMessageFor(x => x.VendorId)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" style="text-align:left;" class="col-md-12 control-label">AGENCY NAME</label>
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(x => x.AgentId, new SelectList(ViewBag.Agencies, "value", "text"), "Select Agency", new { @class = "form-control" })
                                            @*<span class="help-block">If you select a vendor, then this user will assign to Vendor.</span>*@
                                            @Html.ValidationMessageFor(x => x.AgentId)
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <p><label for="inputEmail3" style="text-align:left;" class="col-md-12 control-label">PERMISSIONS<em>*</em></label></p>

                                        <div class=" col-md-12">
                                            @{ var listing = Model.ModuleList.Where(r => r.IsAdmin == false && r.ID != 26 && r.ID != 31)
                                                        .OrderByDescending(r => r.ModuleName == "Manage Reports")
                                                        .OrderByDescending(r => r.ModuleName == "Manage Wallet")
                                                        .OrderByDescending(r => r.ModuleName == "Manage Wallet")
                                                        .OrderByDescending(r => r.ModuleName == "Saved Meters")
                                                        .OrderByDescending(r => r.ModuleName == "Bill Payment")
                                                        .ToList();
                                                if (listing == null || !listing.Any())
                                                {
                                                    listing = new List<Checkbox>();
                                                }
                                            }
                                            @Html.Partial("Partials/_modulesListing", listing)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <p><label for="inputEmail3" style="text-align:left;" class="col-md-12 control-label">DASHBOARD WIDGETS</label></p>

                                        <div class="col-md-12">
                                            @Html.Partial("Partials/_widgetsListing", Model.WidgetList.Where(d => d.Id != 9).ToList() ?? new List<WidgetCheckbox>()  ) 
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row" style="text-align:right;">
                                <div class=" col-sm-12">
                                    <a href="@Url.Action("ManageAppUsers", "AppUser", new { area = "Admin" })" class="btn btn-default">Cancel</a>
                                    <input type="button" class="btn btn-primary" id="addUserBtn" value="Submit" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/AdminScripts/appUsers.js"></script>
    <script type="text/javascript">


        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        const toggleConfirmPassword = document.querySelector('#toggleConfirmPassword');
        const confirmPassword = document.querySelector('#confirmPassword');

        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye / eye slash icon
            this.classList.toggle('bi-eye');
        });

        toggleConfirmPassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
            confirmPassword.setAttribute('type', type);
            // toggle the eye / eye slash icon
            this.classList.toggle('bi-eye');
        });

        var toggleSelectAgent = document.querySelector('.selectAgent');
        $('#10').hide()
        setTimeout(function () {
            toggleSelectAgent.addEventListener('change', function (e) {
                if (this.checked) {
                    $('#10').show()
                } else {
                    $('#10').hide()
                }
            })
        }, 500)


        $(document).ready(function () {
            App.init();
        });
    </script>
}