@model MeterModel

<form role="form" id="UserForm">
    @Html.HiddenFor(m => m.MeterId)
    @Html.HiddenFor(m => m.UserId)
    <div class="row">
        <div class="form-group">
            <label>Meter # <sup style="color:red !important;">*</sup><span style="font-size:11px !important">(EG:11 DIGITS METER NUMBER)</span></label>
            @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Number)
        </div>
        <div class="form-group">
            <label>Name on Meter <sup style="color:red !important;">*</sup></label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        <div class="form-group">
            <label>ALIAS <sup style="color:red;">*</sup><span style="font-size:11px !important">(EG:HOME/OFFICE/SHOP METER)</span></label>
            @Html.TextBoxFor(m => m.Alias, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Alias)
        </div>
        <div class="form-group">
            <label>Address</label>
            @Html.TextAreaFor(m => m.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Address)
        </div>
        <div class="form-group">
            <label>Meter Make <span style="font-size:11px !important"> (NOT REQUIRED IF YOU DO NOT KNOW)</span></label>
            @Html.DropDownListFor(m => m.MeterMake, new SelectList(ViewBag.meterMakes, "value", "text"), null, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.MeterMake)
        </div>
        <div class="form-group" style="display:inline-block; width: 30%;">
            <label style="width: 40%">ACTIVE</label>
            <span style="width: 30%">@Html.CheckBoxFor(m => m.isVerified)</span>
        </div>
        <div class="form-group" style="text-align:right">
            <input type="button" class="btn btn-primary" id="saveMeterDetails" onclick="AdminPOS.saveMeter(this)" value="@(Model.MeterId > 0 ? "UPDATE METER" : "ADD METER")">
        </div>
    </div>
</form>