﻿﻿@model PagingResult<VendorStatus>

@{
    Layout = null;
}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr style="background: #404040; color: white; font-weight: bold; word-spacing:10px; ">

                <th>
                    <i class="fa fa-refresh fa-spin fa-3x fa-fw" style="font-size:20px;" aria-hidden="true"></i>
                    <span class="sr-only">Refreshing...</span>
                </th>
                <th colspan="6">
                    <strong style="font-size: 20px;">
                        VENDORS FINANCIAL POSITION/STATUS
                    </strong>
                </th>
            </tr>
            <tr>
                <th scope="col">#</th>
                @*<th scope="col">STATUS</th>*@
                <th scope="col">VENDOR</th>
                <th scope="col">RUNNING BAL</th>
                <th scope="col">PERCENTAGE AMOUNT</th>
                <th scope="col">POS BALANCE</th>
                <th scope="col">OVERAGE</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.List != null)
            {
                int i = 0;
                foreach (var item in Model.List)
                {
                    //@Url.Action("Recharge", "Meter", new { meterId = item.MeterId })<a title="Recharge" class="recharge col-md-4" data-id="@item.MeterId" href='#'> </a>
                    i += 1;
            <tr id="meterList">
                <th scope="row">@i</th>
                <td> @item.vendor </td>
                <td style="text-align:right;">@VendTech.BLL.Common.Utilities.FormatAmount( item.runningbalance)</td>
                <td style="text-align: right;">@VendTech.BLL.Common.Utilities.FormatAmount(item.PercentageAmount)</td>

                <td style="font-weight: bold; color: Red; text-align: right;">@VendTech.BLL.Common.Utilities.FormatAmount(item.POSBalance)</td>
                <td style="text-align:right">
                    <span style="color: orange; font-weight: bold; text-align: right;">@VendTech.BLL.Common.Utilities.FormatAmount(item.overage)</span>
                </td>


            </tr>
                }
            }


        </tbody>
    </table>
</div>