﻿@model PagingResult<MeterRechargeApiListingModel>

@{
    Layout = null;
}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr style="background: #404040; color: white; font-weight: bold; word-spacing:10px; ">

                <th onclick="refreshSalesStatus()" style="border: none; cursor: pointer;"  title="click to refresh">
                    <a><i class="fa fa-refresh fa-3x fa-fw" style="font-size:20px; color: white;" aria-hidden="true"></i></a>
                   
                </th>
                <th colspan="1" style="border: none">
                    <span style="color: white; display: none;" id="salesRefresh">refreshing....</span>
                </th>
                <th colspan="6" style="border: none">
                    <strong style="font-size: 20px; margin-right: 80px;">
                        LAST 10 SALES
                    </strong>
                </th>
            </tr>
            <tr>
                <th scope="col">#</th>
                <th scope="col">DATETIME</th>
                <th scope="col">PRODUCT</th>
                <th scope="col">TRANS ID</th>
                <th scope="col">POSID</th>
                <th scope="col">VENDOR</th>
                <th scope="col">METER #</th>
                <th scope="col">AMOUNT</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.List != null)
            {
                int i = 0;
                foreach (var item in Model.List)
                {
                    //@Url.Action("Recharge", "Meter", new { meterId = item.MeterId })<a title="Recharge" class="recharge col-md-4" data-id="@item.MeterId" href='#'> </a>
                    i += 1;
                    <tr id="meterList">
                        <th scope="row">@i</th>
                        <td style="text-align:right">
                            @item.CreatedAt
                        </td>
                        <td style="text-align:left;"> @item.PlatformName </td>
                        <td style="text-align:right;"> @item.TransactionId </td>
                        <td style="text-align: right; ">@item.POSId</td>
                        <td style="font-weight: bold; color:green;">@item.VendorName</td>
                        <td style="text-align: right;">@item.MeterNumber</td>
                        <td style="font-weight: bold; text-align: right; color:red;">@item.Amount</td>
                    </tr>
                }
            }


        </tbody>
    </table>
</div>