@model TransferViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/transfer.css" rel="stylesheet" />
<link href="~/Content/assets/css/style.min.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />

<div class="container-fluid" id="pcont">

    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills " id="pills-tab" role="tablist">
                    @if (Model.CanTranferToOwnVendors)
                    {
                        <li class="nav-item active" role="presentation">
                            <a class="nav-link active tab-text" id="pills-home-tab" onclick="transferHandler.fetchAgencyVendors()" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">OWN VENDORS - @Model.Vendor</a>
                        </li>
                    }
                    @if (Model.CanTranferToOtherVendors)
                    {
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-profile-tab" onclick="transferHandler.fetchOtherVendors('@Model.AdminBalance', '@Model.AdminPosId', '@Model.AdminName')" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">OTHER VENDORS</a>
                        </li>
                    }
                </ul>

                <div class="tab-content" id="pills-tabContent">

                    @if (Model.CanTranferToOwnVendors)
                    {
                        <div class="tab-pane fade active in" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="card">
                                        <div class="card-body">
                                            <b>  <i class="font-weight-bold alert-warning" id="beneficiariesLoading">Beneficiaries loading, please wait.......</i></b>
                                            <form>
                                                <h5 class="card-title"></h5>
                                                <div class="row">
                                                    <div class=" row align-items-center">
                                                        <div class="col-md-6">
                                                            <h5><label>TRANSFER FROM</label> </h5>
                                                            <input type="text" class="form-control mb-2 rounded" id="filterAgencyFromVendors" autocomplete="off" placeholder="Search vendors to transfer from.... ">
                                                            <nav class="agencyFromVendors" id="agencyFromVendors"></nav>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <h5><strong id="agencySenderDisplay"></strong></h5>
                                                        </div>
                                                    </div>
                                                    <div class="row align-items-center">
                                                        <div class="col-md-6">
                                                            <h5><label>TRANSFER TO</label> </h5>
                                                            <input type="text" class="form-control mb-2 rounded" id="filterAgencyToVendors" autocomplete="off" placeholder="Search for beneficiaries.... ">
                                                            <nav class="agencyBeneficiaries" id="agencyBeneficiaries"></nav>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <h5><strong id="agencyBenficiaryDisplay"></strong></h5>
                                                        </div>
                                                    </div>
                                                    <div class="row align-items-center">
                                                        <div class="col-md-4">
                                                            <h5><label>TRANSFER AMOUNT</label> </h5>
                                                            <input type="text" class="form-control mb-2 rounded" onkeypress="javascript:return transferHandler.isNumber(event)" autocomplete="off" id="amtToTransfer" onkeyup="transferHandler.displayAmount(this.value)">
                                                        </div>
                                                    </div>
                                                    <div class="row push-item-right col-md-6">
                                                        <div class="col-md-12">
                                                            <h1><strong id="agencyAmountToTransferDisplay"></strong></h1>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row otpSent">
                                                    <div class="row" style="width:80%; text-align:right"><a href="#" onclick="transferHandler.resendOtp1(this)">RESEND OTP</a></div>
                                                    <div class="row">
                                                        <label class="alert-warning col-md-5 col-xs-5 col-sm-5 " >INPUT OTP HERE <i class="fa fa-arrow-right"></i></label>
                                                        <input type="text" style="height: 50px; font-weight: bolder; font-size: 40px;" class="form-control col-lg-9 col-md-9 col-sm-9 col-xs-9" placeholder="ENTER OTP" id="otp">
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button type="button" onclick="transferHandler.transferToVendor(this)" id="submitTransferFromBtn" disabled class="btn btn-primary mb-2 pull-right">Transfer</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="co-md-6">
                                    @*nothing here*@
                                </div>
                            </div>
                        </div>

                    }

                    @if (Model.CanTranferToOtherVendors)
                    {
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="card">
                                        <div class="card-body">
                                            <b>  <i class="font-weight-bold alert-warning" id="otherBeneficiariesLoading">Other beneficiaries loading, please wait.......</i></b>
                                            <form>
                                                <h5 class="card-title"></h5>
                                                <div class="row">
                                                    <div class="row align-items-center">
                                                        <div class="col-md-6">
                                                            <h5><label>TRANSFER FROM</label> </h5>
                                                            <input type="text" readonly class="form-control mb-2 rounded" value="@Model.AdminName --  @Model.AdminPos" id="otherFilterAgencyFromVendors" placeholder="Search vendors to transfer from.... ">
                                                            <nav class="otherAgencyFromVendors" id="otherAgencyFromVendors"></nav>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <h5><strong id="otherAgencySenderDisplay"> BALANCE : NLe @Model.AdminBalance</strong></h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h5><label>TRANSFER TO</label> </h5>
                                                            <input type="text" class="form-control mb-2 rounded" id="otherFilterAgencyToVendors" autocomplete="off" placeholder="Search for other beneficiaries.... ">
                                                            <nav class="otherAgencyBeneficiaries" id="otherAgencyBeneficiaries"></nav>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <h5><strong id="otherAgencyBenficiaryDisplay"></strong></h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <h5><label>TRANSFER AMOUNT</label> </h5>
                                                            <input type="text" onkeypress="javascript:return transferHandler.isNumber(event)" class="form-control mb-2 rounded" id="otherAmtToTransfer" onkeyup="transferHandler.displayOtherAmount(this.value)">
                                                        </div>
                                                    </div>
                                                    <div class="row push-item-right col-md-6">
                                                        <div class="col-md-12">
                                                            <h1><strong id="otherAgencyAmountToTransferDisplay"></strong></h1>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row otpSent" style="display:block">
                                                    <div class="row" style="width:80%; text-align:right"><a href="#otherotp" onclick="transferHandler.resendOtp2('@Model.AdminBalance', '@Model.AdminPosId', '@Model.AdminName', this)">RESEND OTP</a></div>
                                                    <div class="row">
                                                        <label class="alert-warning col-md-5 col-xs-5 col-sm-5">INPUT OTP HERE <i class="fa fa-arrow-right"></i></label>
                                                        <input type="text" style=" height: 50px; font-weight: bolder; font-size: 40px;" class="form-control col-lg-9 col-md-9 col-sm-9 col-xs-9" placeholder="ENTER OTP" id="otherotp">
                                                    </div>
                                                    
                                                </div>
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <button type="button" 
                                                                onclick="transferHandler.transferToOtherVendor('@Model.AdminBalance', '@Model.AdminPosId', '@Model.AdminName', this)" 
                                                                id="otherSubmitTransferFromBtn" disabled class="btn btn-primary mb-2 pull-right">Transfer</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>
<div id="fromVendorsList">
    @Html.Partial("Transfer/_vendorsListing")
    @Html.Partial("Transfer/_transferToVedorsListing")
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/UserScripts/transfer.js"></script>
<script src="~/Scripts/UserScripts/transfer.js"></script>

