@model LoginModal
@{
    <a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>
    ViewBag.Title = "Agent Login";
    Layout = "~/Areas/Agent/Views/Shared/_beforeLoginAdminLayout.cshtml";
}
<div id="cl-wrapper" class="login-container">

    <div class="middle-login">
        <div class="block-flat">
            <div class="header">
                <h3 class="text-center"><a href="/"><img class="logo-img" src="~/Content/images/logo.png" alt="logo" /></a></h3>
            </div>
            <div>
                <form style="margin-bottom: 0 !important;" class="form-horizontal" id="loginForm">
                    <div class="content">
                        <h4 class="title">Login Access to Agent Panel</h4>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username*" })

                                </div>
                                <div id="email-error">@Html.ValidationMessageFor(m => m.UserName)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password*" })
                                </div>
                                <div id="password-error">@Html.ValidationMessageFor(m => m.Password)</div>
                            </div>
                        </div>

                    </div>
                    <div class="foot">
                        <button class="btn btn-primary" id="signInBtn" data-dismiss="modal" type="button">Log me in</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center out-links"><a href="#">&copy; Copyright @DateTime.Now.Year Vendtech, Inc. All Rights Reserved</a></div>
    </div>

</div>
@section scripts{
    <script src="~/Scripts/AgentScripts/login.js"></script>
}
