@model VendTech.BLL.Models.SaveAgentModel
@{
    ViewBag.Title = Model.AgencyId > 0 ? "Edit Agent Details" : "Add Agent Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml";
}

<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="cl-mcont">
        @Html.Partial("_FunctionCallMessage")
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <div class="header">
                        <h3>@ViewBag.Title</h3>
                    </div>
                    <div class="content people-form-cs">
                        <form class="form-horizontal" role="form" id="UserForm">
                            @Html.HiddenFor(x => x.AgencyId)
                            <div class="form-group">
                                <div class="row">
                                    <div class=" col-md-12">
                                        <label for="inputEmail3" class="col-md-12 control-label" style=" text-align:left">AGENCY NAME<em>*</em></label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(x => x.AgencyName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.AgencyName)
                                        </div>
                                    </div>

                                </div>
                                @*<div class="row">
                                    <div class=" col-md-12">
                                        <label for="inputEmail3" class="col-md-12 control-label" style="text-align:left">COMPANY</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(x => x.Company, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Company)
                                        </div>
                                    </div>

                                </div>*@

                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="inputEmail3" class="col-md-12">SELECT ADMINISTRATOR</label>
                                        <div class="col-md-8">
                                            <select class="form-control " name="Representative" id="Admin">
                                                <option value="">SELECT ADMIN</option>
                                            </select>
                                        </div>
                                  
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="inputEmail3" class="col-md-12">AGENCY COMMISION</label>
                                        <div class="col-md-8">
                                            <select class="form-control " name="Percentage" id="Percentage">
                                                <option value="">COMMISSION</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>




                                <div class="row">
                                    <div class=" col-md-6">
                                        <div class="col-sm-offset-12 col-sm-8">
                                            <a href="@Url.Action("ManageAgents", "Agent", new { area = "Admin" })" class="btn btn-default">Cancel</a>
                                            <input type="button" class="btn btn-primary" id="addUserBtn" value="Submit" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/AdminScripts/agency.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            loadAllUser()
            loadAllCommissions()
            App.init();
        });


        function loadAllUser() {
            var array = @Html.Raw(Json.Encode(ViewBag.Users));
            if (array.length > 0)
            {
                for (var i = 0; i < array.length; i++) {
                    $("#Admin").append("<option value=" + array[i].Value + ">" + array[i].Text + " </option>");
                }
                var val = $("#Admin").val('@Model.Representative');
            }
        }



        function loadAllCommissions() {
            var array = @Html.Raw(Json.Encode(ViewBag.Commisions));
            if (array.length > 0)
            {
                for (var i = 0; i < array.length; i++) {
                    $("#Percentage").append("<option value=" + array[i].Value + ">" + array[i].Text + " </option>");
                }
                var val = $("#Percentage").val('@Model.Percentage');
                  if ('@Model.Percentage' == 0) {
                    $('#Percentage option[value="2"]').attr("selected", true);
                }
            }
        }

    </script>
}