@model PagingResult<POSListingModel>
@{
    ViewBag.Title = "Manage POS";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml";
}

<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h2>Manage POS</h2>

    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <div class="header noborder">
                        <h3 >
                        <a href="@Url.Action("AddEditPOS", "POS", new { area = "Admin" })" style="height: 50px;" class="btn btn-primary pull-right" title="Add POS"><i class="fa fa-user "></i><super><i class="fa fa-plus"></i></super></a>
                        </h3>
                    </div>
                    <div class="content">
                        <div class="table-responsive">
                                    @Html.Partial("_SearchFilter", new PagingModel { SortBy = "CreatedAt", SortOrder = "Desc" })
                              
                            <div id="divResult">
                                <table class="table table-bordered" id="datatable-icons">
                                    <thead>
                                        <tr>
                                            <th>POS ID</th>
                                            <th>VENDOR NAME</th>
                                            <th>BALANCE</th>
                                            <th>POS SIM#</th>
                                            <th>POS TYPE</th>
                                            <th>ENABLED</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.Partial("Partials/_posListing", Model)
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        @Html.Partial("_Paging")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/UserDefinedScripts/paging.js"></script>
    <script type="text/javascript">
        var totalCount = "@Model.TotalCount";
    </script>
    <script src="~/Scripts/AdminScripts/pos.js"></script>



    <script type="text/javascript">
        $("#searchField").show();
        var searchFields = ["POS ID", "VENDOR NAME", "CELL #","POS TYPE","ENABLED"];
        for (var i = 0; i < searchFields.length; i++) {
            $("#searchField").append("<option value=" + searchFields[i] + ">" + searchFields[i] + "  </option>")
        }
        $(document).ready(function () {
            //initialize the javascript
            App.init();
            Users.ManageUsers(totalCount);
        });
    </script>
}

