@model List<Checkbox>
<style>
    span.more-optionspan {
        padding-left: 20px;
        display: inline-block;
        visibility: hidden;
        border-left: 2px solid #e3c200;
        margin-left: 10px;
    }

    .more-option:checked ~ span.more-optionspan {
        visibility: visible;
    }

    .more-option {
        vertical-align: top;
    }

    span.more-userOptionspan {
        padding-left: 20px;
        display: inline-block;
        visibility: hidden;
        border-left: 2px solid #e3c200;
        margin-left: 10px;
    }

    .more-userOption:checked ~ span.more-userOptionspan {
        visibility: visible;
    }
     

    .more-userOption {
        vertical-align: top;
    }

    span.more-platformOptionspan {
        padding-left: 20px;
        display: inline-block;
        visibility: hidden;
        border-left: 2px solid #e3c200;
        margin-left: 10px;
    }

    .more-platformOption:checked ~ span.more-platformOptionspan {
        visibility: visible;
    }

    .more-platformOption {
        vertical-align: top;
    }


    span.more-depositOptionsspan {
        padding-left: 20px;
        display: inline-block;
        visibility: hidden;
        border-left: 2px solid #e3c200;
        margin-left: 10px;
    }

    .more-depositOptions:checked ~ span.more-depositOptionsspan {
        visibility: visible;
    }

    .more-depositOptions {
        vertical-align: top;
    }

    span.more-notificationOptionspan {
        padding-left: 20px;
        display: inline-block;
        visibility: hidden;
        border-left: 2px solid #e3c200;
        margin-left: 10px;
    }

    .more-notificationOption:checked ~ span.more-notificationOptionspan {
        visibility: visible;
    }


    .more-notificationOption {
        vertical-align: top;
    }


</style>
<div id="divResult">
    <table class="table table-bordered" id="datatable-icons">
        <thead>
            <tr>
                <th>Module Name</th>
                <th>Permission</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var chkbox in (Model.Where(p => p.SubMenuOf == null)))
            { 
                <tr class="odd gradeX">
                    <td><label> @chkbox.ModuleName</label></td>
                    <td>
                        <input class="
                               @(chkbox.ModuleName == "Manage Reports" ? "more-option" :
                                    chkbox.ModuleName == "Users" ? "more-userOption" :
                                    chkbox.ModuleName == "Platform Settings" ? "more-platformOption" :
                                    chkbox.ModuleName == "Manage Deposits" ? "more-depositOptions" :
                                     chkbox.ModuleName == "Notification Center" ? "more-notificationOption" :
                                     chkbox.ModuleName == "Manage Agents" ? "more-option" :
                                    "" )" type="checkbox" id="@chkbox.ID" name="SelectedModules" value="@chkbox.ID" @Html.Raw(chkbox.Checked ? "checked='checked'" : "") />
                        @if (chkbox.ModuleName == "Users")
                        {
                            <span class="more-userOptionspan">
                                @foreach (var item in (Model.Where(p => p.SubMenuOf == chkbox.ID)))
                                {
                                    <p><input type="checkbox" name="SelectedModules" value="@item.ID" @Html.Raw(item.Checked ? "checked='checked'" : "") /> @item.ModuleName</p>
                                }
                            </span>
                        }
                        @if (chkbox.ModuleName == "Platform Settings")
                        {
                            <span class="more-platformOptionspan">
                                @foreach (var item in (Model.Where(p => p.SubMenuOf == chkbox.ID)))
                                {
                                    <p><input type="checkbox" name="SelectedModules" value="@item.ID" @Html.Raw(item.Checked ? "checked='checked'" : "") /> @item.ModuleName</p>
                                }
                            </span>
                        }
                        @if (chkbox.ModuleName.ToLower() == "Manage Deposits".ToLower())
                        {
                            <span class="more-depositOptionsspan">
                                @foreach (var item in (Model.Where(p => p.SubMenuOf == chkbox.ID)))
                                {
                                    <p><input type="checkbox" name="SelectedModules" value="@item.ID" @Html.Raw(item.Checked ? "checked='checked'" : "") /> @item.ModuleName</p>
                                }
                            </span>
                        }
                        @if (chkbox.ModuleName.ToLower() == "Manage Reports".ToLower())
                        {
                            <span class="more-optionspan">
                                @foreach (var item in (Model.Where(p => p.SubMenuOf == chkbox.ID)))
                                {
                                    <p><input type="checkbox" name="SelectedModules" value="@item.ID" @Html.Raw(item.Checked ? "checked='checked'" : "") /> @item.ModuleName</p>
                                }

                            </span>
                        }
                        @if (chkbox.ModuleName == "Notification Center")
                        {
                            <span class="more-notificationOptionspan">
                                @foreach (var item in (Model.Where(p => p.SubMenuOf == chkbox.ID)))
                                {
                                    <p><input type="checkbox" name="SelectedModules" value="@item.ID" @Html.Raw(item.Checked ? "checked='checked'" : "") /> @item.ModuleName</p>
                                }
                            </span>
                        }

                        @if (chkbox.ModuleName.ToLower() == "Manage Agents".ToLower())
                        {
                            <span class="more-optionspan">
                                @foreach (var item in (Model.Where(p => p.SubMenuOf == chkbox.ID).OrderBy(d => d.ModuleName)))
                                {
                                    <p><input type="checkbox" name="SelectedModules" class="selectAgent" value="@item.ID" @Html.Raw(item.Checked ? "checked='checked'" : "") /> @item.ModuleName</p>
                                }

                            </span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
