@model DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml";

    var user = (UserDetails)ViewBag.LOGGEDIN_USER;
    var depositActionURL = Html.Raw(Url.Action("ManageReports", "Report", new { type = 17, source = "dashboard" }));
}

<style>
    .data-info {
        display: flex;
    }

        .data-info > div {
            width: 100%;
        }
        .data-info > div:first-child {
            text-align:left;
        }
    .transDate {
        width: 100%;
    }
</style>
<div class="container-fluid" id="pcont">

    @if (user.UserType != UserRoles.AppUser)
    {
        <div class="cl-mcont" style="margin-bottom:0;">

            <div class="row">
                @if (Model.currentUser.SelectedWidgets != null && Model.currentUser.SelectedWidgets.Any(y => y == 9))
                {
                    <div class="col-xs-12 col-md-6 col-lg-2">
                        <div class="widget widget-tile" >
                            <div class="data-info ">
                                <div class="desc">RTS Balance</div>
                                <div class="value">
                                    <span class="indicator indicator-negative mdi mdi-chevron-down"></span><span data-toggle="counter" data-end="113" class="number" id="dealerBal"></span>
                                </div>
                                <div class="transDate">
                                    <small id="transDate"></small>
                                </div>
                            </div>

                        </div>
                    </div>
                }
                @if (Model.currentUser.SelectedWidgets != null && Model.currentUser.SelectedWidgets.Any(y => y == 1))
                {
                    <div class="col-xs-12 col-md-6 col-lg-2">
                        <div class="widget widget-tile">
                            <div class="data-info">
                                <div class="desc">Current wallet balance</div>
                                <div class="value">
                                    <span class="indicator indicator-equal mdi mdi-chevron-right"></span><span data-toggle="counter" data-end="113" class="number">
                                        SSL @Utilities.FormatAmount(Model.walletBalance)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.currentUser.SelectedWidgets != null && Model.currentUser.SelectedWidgets.Any(y => y == 2))
                {
                    <div class="col-xs-12 col-md-6 col-lg-2">
                        <div class="widget widget-tile">
                            <div class="data-info">
                                <div class="desc"><a href="@Url.Action("ManageReports", "Report")">Total daily sales(today)</a></div>
                                <div class="value">
                                    <span class="indicator indicator-equal mdi mdi-chevron-right"></span><span data-toggle="counter" data-end="113" class="number">
                                        SSL @Utilities.FormatAmount(Model.totalSales)

                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.currentUser.SelectedWidgets != null && Model.currentUser.SelectedWidgets.Any(y => y == 3))
                {
                    <div class="col-xs-12 col-md-6 col-lg-2">
                        <div class="widget widget-tile">
                            @*<div id="spark2" class="chart sparkline"></div>
                                &from=06/20/2022&to=06/20/2022
                            *@
                            <div class="data-info">
                                <div class="desc"><a href="@depositActionURL">Total daily deposits(today)</a></div>
                                <div class="value">
                                    <span class="indicator indicator-positive mdi mdi-chevron-up"></span><span data-toggle="counter" data-end="80" data-suffix="%" class="number">
                                        SSL @Utilities.FormatAmount(Model.totalDeposit)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.currentUser.SelectedWidgets != null && Model.currentUser.SelectedWidgets.Any(y => y == 4))
                {
                    <div class="col-xs-12 col-md-6 col-lg-2">
                        <div class="widget widget-tile">
                            @*<div id="spark3" class="chart sparkline"></div>*@
                            <div class="data-info">
                                <div class="desc">Active POS</div>
                                <div class="value">
                                    <span class="indicator indicator-positive mdi mdi-chevron-up"></span><span data-toggle="counter" data-end="532" class="number">@Model.posCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.currentUser.SelectedWidgets != null && Model.currentUser.SelectedWidgets.Any(y => y == 5))
                {
                    <div class="col-xs-12 col-md-6 col-lg-2">
                        <div class="widget widget-tile">
                            @*<div id="spark4" class="chart sparkline"></div>*@
                            <div class="data-info">
                                <div class="desc">Active users</div>
                                <div class="value">
                                    <span class="indicator indicator-negative mdi mdi-chevron-down"></span><span data-toggle="counter" data-end="113" class="number">@Model.userCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="row">
                <div class="col-md-6" id="saleListing">
                    @Html.Partial("Partials/_salesListing", Model.s)
                </div>
                <div class="col-md-6" id="bsListing">

                    @Html.Partial("Partials/_BSReportListing", Model.Bs)
                </div>


            </div>
        </div>
    }
    else
    {
        <div><H1>Access denied! You do not have permission to access this corner</H1></div>
    }
</div>
@section scripts{
    <link href="~/Content/assets/css/style.min.css" rel="stylesheet" />
    @*<script src="~/Content/assets/lib/jquery/jquery.min.js" type="text/javascript"></script>*@

    <script type="text/javascript">


        setInterval(function () {


            $.ajax({
                url: '/Admin/Home/GetVendorBalanceSheetReports',
                success: function (data) {
                    $('#bsListing').html(data);
                }
            })

            $.ajax({
                url: '/Admin/Home/GetSalesHistory',
                success: function (data) {
                    $('#saleListing').html(data);
                }
            })

        }, 5000)


        $(document).ready(function () {


            //initialize the javascript
            App.init();
            App.dashBoard();
        });
    </script>
    <script>
    var surveyLastDaysChartData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.transactionChartData));
    </script>
    <script src="~/Content/beagle/lib/raphael/raphael-min.js"></script>
    <link href="~/Content/beagle/lib/morrisjs/morris.css" rel="stylesheet" />
    <script src="~/Content/beagle/lib/morrisjs/morris.min.js"></script>
    <script type="text/javascript">

        $(function () {

            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            Morris.Line({
                element: 'main-chart',
                data: surveyLastDaysChartData,
                xkey: 'mdate',
                ykeys: ['deposit', 'billpayment'],
                labels: ['Total Deposit', 'Total Bill Payment'],
                pointSize: 4,
                hideHover: 'auto',
                fillOpacity: 0.03,
                lineColors: ['#768294', '#0084ff'],
                xLabelFormat: function (x) { // <--- x.getMonth() returns valid index
                    var month = months[x.getMonth()];
                    return month;
                },
                dateFormat: function (x) {
                    var month = months[new Date(x).getMonth()];
                    return month;
                },
            });
        });
    </script>
}


