@model ResetPasswordModel

@{
    ViewBag.Title = "Reset Your Password";
    Layout = "~/Areas/Admin/Views/Shared/_beforeLoginAdminLayout.cshtml";
}

@*@if (Model.UserId > 0)
    {
        if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <p>Passoword has been reset successfully.</p>
        }
        else
        {
            using (Html.BeginForm("ResetPassword", "Home", new { area = "Admin" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Reset Your Password</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Password, new { @type = "password" })
                            @Html.HiddenFor(model => model.UserId)
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.ConfirmPassword, new { @type = "password" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Reset Now" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        }
    }
    else
    {
        <p>Invalid Request.</p>
    }*@


<div id="cl-wrapper" class="login-container">

    <div class="middle-login">
        <div class="block-flat">
            <div class="header">
                <h3 class="text-center"><a href="/"><img class="logo-img" src="~/Content/images/logo.png" alt="logo" /></a></h3>
            </div>
            <div>
                @if (Model.UserId != null && Model.UserId > 0)
                {

                    if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <p class="text-center">Passoword has been reset successfully.</p>
                    }
                    else
                    {
                        <form action="/Admin/Home/ResetPassword" method="post" style="margin-bottom: 0 !important;" class="form-horizontal" id="loginForm">
                            <div class="content">
                                <h4 class="title">Reset Password</h4>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password*" })
                                            @Html.HiddenFor(model => model.UserId)

                                        </div>
                                        <div id="email-error">@Html.ValidationMessageFor(m => m.Password)</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Password*" })
                                        </div>
                                        <div id="password-error">@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="foot">
                                <button class="btn btn-primary" id="signInBtn" type="submit">Reset Now</button>
                            </div>
                        </form>
                    }
                }

                else
                {
                    <p class="text-center">Invalid Request.</p>
                }
            </div>
        </div>
    </div>

</div>
