@model  PlatformTransactionModel

@{ ViewBag.Title = "Recharge Airtime";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<MeterRechargeApiListingModel> history = Model.History;
    if (history == null)
    {
        history = new List<MeterRechargeApiListingModel>();
    }
}

<style type="text/css">
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
</style>
<link rel="preconnect" href="https://fonts.gstatic.com">
@*<link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">*@


<div class="container-fluid" id="pcont">
    <div class="dashright ">


        <div class="page-head">
            <h2>Airtime Recharge</h2>
        </div>
        <div class="cl-mcont">
            <div class="row">
                <style>
                    .separator {
                        display: flex;
                        align-items: center;
                        text-align: center;
                    }

                        .separator::before, .separator::after {
                            content: '';
                            flex: 1;
                            border-bottom: 2px solid #f6eded;
                        }

                        .separator::before {
                            margin-right: .25em;
                        }

                        .separator::after {
                            margin-left: .25em;
                        }

                    label {
                        font-weight: bold;
                        font-size: 12px;
                    }

                    .input {
                        font-weight: bold;
                    }

                    .selectedOperator {
                        border: 3px solid #1f2127;
                    }

                    .deselectOperator {
                        border: none;
                    }
                </style>
                <div class="col-md-12">
                    <div class="block-flat">
                        @if (Convert.ToBoolean(ViewBag.IsPlatformAssigned))
                        {
                            <div class="contarea meterpage row">
                                <div class="" style="text-align:right; font-size:20px;   font-weight:bold; padding-bottom:10px; border-bottom:0.8px solid #f4e8e8;">
                                    <span class="alert-danger" id="error_reponse" style=" display:block; float:left;">wsasa</span>
                                    <span id="balanceSpan" style="color: #00a2e8; ">SLE: @VendTech.BLL.Common.Utilities.FormatAmount(ViewBag.walletBalance)</span>
                                </div>
                                <div class="tabcont-row current">
                                    <div class="row">
                                        <div class="col-md-4" style=" border-right:2px solid #f6eded;">
                                            <form id="rechargeAirtimeForm" style="box-shadow:0 0 1px #8f7e7e; border:none; ">
                                                <div class="row">
                                                    <div class="row padded">
                                                        @{
                                                            var pos = (List<SelectListItem>)ViewBag.userPos;
                                                        }
                                                        @if (pos.Count > 1)
                                                        {
                                                            <div class=" col-md-4">
                                                                <label class="control-label">SELECT POS ID</label>
                                                                @Html.DropDownList("PosId", new SelectList(ViewBag.userPos, "value", "text"), null, new { @style = "height:35px; font-weight:bolder; ", @class = " input form-control", @id = "posDrp" })
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class=" col-md-12">
                                                                <span style="font-weight:bold; font-size:35px">POS ID: @pos.FirstOrDefault().Text</span>
                                                                @Html.DropDownList("PosId", new SelectList(ViewBag.userPos, "value", "text"), null, new { @style = "height:35px; font-weight:bolder; display:none;", @class = " input form-control", @id = "posDrp" })

                                                            </div>
                                                        }
                                                    </div>
                                                    <input type="hidden" id="platformIdSelect" name="PlatformId" />


                                                    <div class="row padded">
                                                        <div class="col-md-8">
                                                            <label><span style="color:red; text-align:center;"> ENTER</span> PHONE NUMBER</label>
                                                            <span style="display: flex">
                                                                <select>
                                                                    <option value="+232">+232</option>
                                                                </select>
                                                                @Html.TextBoxFor(x => x.Beneficiary, new { @class = "form-control  input", @style = "height:35px; font-weight:bolder;", onkeypress = "javascript:return isNumber(event)", @onkeyup = "" })
                                                            </span>
                                                            @Html.ValidationMessageFor(x => x.Beneficiary)
                                                        </div>
                                                    </div>



                                                    <div class="row padded">

                                                        <div class="col-md-8">
                                                            <label>AMOUNT</label>

                                                            <input style="font-weight:bold; color: red; text-align:right;  height:50px; font-size:35px;"
                                                                   id="AmountDisplay" type="text"
                                                                   onkeypress="javascript:return isNumber(event)"
                                                                   onkeyup="amountFormatter()"
                                                                   class="form-control " />

                                                            @Html.HiddenFor(x => x.Amount, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(x => x.Amount)
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="row">
                                                                <input type="button"
                                                                       style="height:50px;
                                                                   font-weight:bold;
                                                                   text-transform:uppercase;
                                                                   border:none; margin-top:7px;
                                                                   width:100%; background: #ffd800;
                                                                   border-radius:5px;" disabled
                                                                       class="savebttn addDepositBtn"
                                                                       id="pay_Now_Btn" value="PAY NOW">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-8 hidden-sm  hidden-xs">
                                            <h4>Latest (10) recharge history</h4>
                                            <div class="exportdata table-wrapper-scroll-y my-custom-scrollbar">
                                                <table class="table table-bordered  mb-0" id="datatable-icons">
                                                    <thead>
                                                        <tr>
                                                            <th>DATE/TIME</th>
                                                            <th>PRODUCT</th>
                                                            <th>TRANSACTION ID</th>
                                                            <th>PHONE #</th>
                                                            <th>POS ID</th>
                                                            <th>TOKEN</th>
                                                            <th>AMOUNT</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @Html.Partial("Partials/_salesListing", history)
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="contarea">
                                <p>
                                    Airtime Service not assigned<br />
                                    Please contact VENDTECH on +23279990990
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade colored-header colored-header-primary" id="form-bp1" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-colored" style="background-color: #e4c200">
                    <h3 class="modal-title" style="color:black; font-weight:bold; text-transform:capitalize;">PLEASE CONFIRM YOUR PURCHASE</h3>
                    <button class="close md-close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close">       </span></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="row" style="margin-top:55px; margin-bottom: 25px ">
                            <div class="col-md-4 col-item">
                                <span class="adv-company-name">Phone No:</span>
                            </div>
                            <div class="col-md-8 col-item">
                                <span id="phoneno" class="adv-company-name" style="font-weight: bold; font-size: 30px;">Peter Bamidele</span>
                            </div>
                        </div>
                        <div class="row" style="margin-top:55px; margin-bottom: 25px ">
                            <div class="col-md-4 col-item">
                                <span class="adv-company-name">Product:</span>
                            </div>
                            <div class="col-md-8 col-item">
                                <span id="product" class="adv-company-name" style="font-weight: bold; font-size: 30px;">AFRICELL</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-item adv-company-name">
                                <span class="adv-company-name">Amount:</span>
                            </div>
                            <div class="col-md-8 col-item">
                                <span class="amount-currency">SLE: </span>
                                <span id="pamount" class="adv-amount-figure" style="font-weight:bold; font-size:30px;">100.00</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary md-close" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary md-close" id="rechargeAirtime" type="button" data-dismiss="modal">Proceed</button>
                </div>
            </div>
        </div>
    </div>


    @*@Html.Partial("Partials/_downTimeNotification")
        <div class="modal fade" id="airtimeReceiptModal">
            @Html.Partial("_airtimeReceipt")
        </div>*@

</div>


@section scripts{
    <script src="~/Scripts/UserScripts/meter.js"></script>
    <link href="~/Content/transdetails.css" rel="stylesheet" />
    <link href="~/Content/pos_receipt.css" rel="stylesheet" />
    <script src="~/Scripts/Receipt.js"></script>
    <script src="~/Scripts/UserScripts/sms.js"></script>

    <script>

        $(document).ready(function () {
            const params = new Proxy(new URLSearchParams(window.location.search), {
                get: (searchParams, prop) => searchParams.get(prop),
            });

            $(function () {
                selectOperator(params.provider)
            });

            if ('@ViewBag.IsDisable' === 'True') {
                var message = '@Html.Raw(ViewBag.DisabledMessage)';
                if (message) {
                    message = escape(message);
                    const decoded = atob(unescape(message));
                    $("#downtimeNotifyMessage").text(decoded);
                }
                $("#downtimeNotifyModal").modal('show');
                $('#downtimeNotifyModal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
            }

            $(".savebttn").click(function () {

                if (!$("#Amount").val() || $("#Amount").val() == "0") {
                    $.ShowMessage($('div.messageAlert'), "Please Enter Amount", MessageType.Error);
                    return;
                }
                else if (!$("#Beneficiary").val()) {
                    $.ShowMessage($('div.messageAlert'), "Please enter phone number", MessageType.Error);
                    return;
                }
                else if (!$("#platformIdSelect").val() || $("#platformIdSelect").val() == "") {
                    $.ShowMessage($('div.messageAlert'), "Please select a product to purchase airtime", MessageType.Error);
                    return;
                }
                else {

                    const minVend = '@VendTech.BLL.Common.Utilities.FormatAmount(ViewBag.MinumumVend)';
                    const amtPay = +$("#Amount").val().replace(",", "");


                    if (amtPay < '@ViewBag.MinumumVend') {
                        $.ShowMessage($('div.messageAlert'), "PLEASE ENTER " + minVend + " & ABOVE", MessageType.Error);
                        $("#pay_Now_Btn").css({ backgroundColor: '#f1cf09' });
                        $("#pay_Now_Btn").val('PAY NOW');
                        $("#pay_Now_Btn").prop('disabled', false);
                        return;
                    }

                    let phoneno = $("#Beneficiary").val();


                    //If the number is entered in international format
                    //it will be 11 but if entered in local format it will be 9
                    //local format is 076252925
                    //international format is 23276252925
                    if (phoneno.length != 8) {
                        $.ShowMessage($('div.messageAlert'), "PLEASE ENTER A VALID PHONE NUMBER.", MessageType.Error);
                        return;
                    }

                    $("#phoneno").html("+232" + phoneno);
                    $("#pamount").html(thousands_separators($("#Amount").val()));
                    //$("#product").html($("#platformIdSelect option:selected").text().trim());
                    $("#form-bp1").modal("show")
                }
            });

            $("#AmountDisplay").on('keyup', function (evt) {
                if ($("#AmountDisplay").val() == "") {
                    return false;
                }
                if (evt.which != 110) {//not a fullstop
                    var n = parseFloat($(this).val().replace(/\,/g, ''), 10);
                    $(this).val(n.toLocaleString());
                }
            });

            $("#rechargeAirtime").on("click", function () {
                return sendAirtimePurchase($(this));
            });
            $(function () {
                $("#posDrp").on("change", function () {
                    $.ajax({
                        url: '/Pos/GetPosBalance?posId=' + $("#posDrp").val(),
                        success: function (res) {
                            $("#balanceSpan").text("SSL : " + thousands_separators(res.balance));
                        }
                    })
                }
                )
            });
        });



    </script>

    <script>
        function selectOperator(value) {

            $('#platformIdSelect').val(value)
            if (value === "2") {
                //$("#platformIdSelect_" + value).addClass('selectedOperator');
                //$("#platformIdSelect_3").removeClass('selectedOperator');
                $("#product").html("ORANGE SL");
            } else if (value === "3") {
                //$("#platformIdSelect_" + value).addClass('selectedOperator');
                //$("#platformIdSelect_2").removeClass('selectedOperator');
                $("#product").html("AFRICELL");
            }
        }

        function isNumber(evt) {
                    var iKeyCode = (evt.which) ? evt.which : evt.keyCode
                    if (iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                        return false;

                    return true;
                }

        function thousands_separators(num) {
            var num_parts = num.toString().split(".");
            num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return num_parts.join(".");
        }

        function amountFormatter() {
                    $("#pay_Now_Btn").prop('disabled', false);

                    var displayVal = $("#AmountDisplay").val();
                    var val = "";
                    if (displayVal) {
                        var cc = displayVal.replace(/\,/g, "");
                        $("#Amount").val(cc);
                        val = $("#Amount").val();

                        var amt_to_display = thousands_separators(val);
                        var wallet_balance = '@VendTech.BLL.Common.Utilities.FormatAmount(ViewBag.walletBalance)';

                        if (Number(amt_to_display.replace(/,/g,"")) > Number(wallet_balance.replace(/,/g,""))) {
                            $("#pay_Now_Btn").prop('disabled', true);
                            $.ShowMessage($('div.messageAlert'), "WALLET BALANCE IS INSUFFICIENT TO MAKE PURCHASE.", MessageType.Error);
                            return false;
                        }
                        $("#AmountDisplay").val();
                    }
        }

        function isNumber(evt) {
            var iKeyCode = (evt.which) ? evt.which : evt.keyCode
            if (iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                return false;

            return true;
        }

        function closeDowntimeNotify() {
            window.location.href = 'Meter/Utility';
        }

        function disableSubmit(disabled = false) {
            if (disabled) {
                $("#pay_Now_Btn").css({ backgroundColor: '#56bb96' });
                $("#pay_Now_Btn").text('PROCESSING....');
                $("#pay_Now_Btn").prop('disabled', true);
            } else {
                $("#pay_Now_Btn").css({ backgroundColor: '#f1cf09' });
                $("#pay_Now_Btn").text('Submit');
                $("#pay_Now_Btn").prop('disabled', false);
            }

        }

        function sendAirtimePurchase(sender) {

            var errorDisplay = document.getElementById("error_reponse");
            if (!$("#Amount").val() || $("#Amount").val() == "0") {
                $.ShowMessage($('div.messageAlert'), "Please Enter Amount", MessageType.Error);
                return;
            }

            if (!$("#Beneficiary").val() ) {
                $.ShowMessage($('div.messageAlert'), "Please enter phone number", MessageType.Error);
                return;
            }
            var reuestObj = $("#rechargeAirtimeForm").serializeArray();

            disableSubmit(true);
            errorDisplay.style.display = 'none';
            $.ajax({
                url: baseUrl + '/Airtime/Recharge',
                data: $("#rechargeAirtimeForm").serialize(),
                type: 'POST',
                success: function (data) {

                    const response = JSON.parse(data)
                    disableSubmit(false);

                    debugger

                    if (response.Code !== 200) {
                        errorDisplay.style.display = 'block';
                        errorDisplay.innerHTML = atob(response.Msg)
                        $.ShowMessage($('div.messageAlert'), response.Msg, MessageType.Failed);
                        return false;
                    }

                    if (response.Code === 200) {

                        $("#sales_date").html(response.Data.TransactionDate);
                        $("#customer_name").html(response.Data.CustomerName);
                        $("#customer_account_number").html(response.Data.Phone);
                        $("#amount_tender").html(response.Data.Amount);
                        $("#service_charge").html(response.Data.Charges);
                        $("#debit_recovery").html(response.Data.DebitRecovery);
                        $("#cost_of_units").html(response.Data.UnitCost);
                        $("#units").html(response.Data.Unit);
                        $("#pin1").html(response.Data.Pin1);
                        $("#edsa_serial").html(response.Data.SerialNo);
                        $("#barcode").html(response.Data.DeviceNumber);
                        $("#vendtech_serial_code").html(response.Data.VTECHSerial);
                        $("#pos_id").html(response.Data.POS);
                        if (response.Data.ShouldShowSmsButton) $("#showsms_btn").show();
                        if (response.Data.ShouldShowPrintButton) $("#showprint_btn").show();
                        $("#vendorId").html(response.Data.VendorId);
                        $("#receiptTitle").html(response.Data.ReceiptTitle);


                        $("#airtimeReceiptModal").modal("show");
                    } else {

                        $.ShowMessage($('div.messageAlert'), response.Msg, MessageType.Failed);
                    }
                    setTimeout(() => {
                        window.location.href = `https://vendtechsl.com/Meter/Utility`
                    }, 3000)
                    Paging(this);
                },
                error: function () {
                    disableSubmit(false);
                }
            });
        }

    </script>

}
