@model PagingResult<BalanceSheetListingModel>
@{ ViewBag.Title = "Manage Reports";
    Layout = "~/Views/Shared/_LayOut.cshtml"; }


@{
    var assigned_platforms = (List<SelectListItem>)ViewBag.AssignedReports;
}
<link href="~/Content/css/Kendo/css/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/css/Kendo/css/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/css/Kendo/css/kendo.default.mobile.min.css" rel="stylesheet" />
<link href="~/Content/pos_receipt.css" rel="stylesheet" />
<div class="container-fluid" id="pcont">
    <style>
        input {
            font-weight: bold;
            text-transform: uppercase;
        }

        select {
            font-weight: bold;
            text-transform: uppercase;
        }

        label {
            font-weight: bold;
            text-transform: uppercase;
        }

        option {
            font-weight: bold;
        }


        div.dataTables_filter > label::before {
            content: "Quick Search :";
        }
    </style>
    <div class="page-head">
        <h3><b>Manage Balance Sheet Report</b></h3>

    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <div class="content">
                        <div class="table-responsive">
                            <div id="divResult">
                                <div class="topsec">
                                    <h2 style="width:20%">BALANCE SHEET REPORTS</h2>
                                    <label>From: <span id="fromSpan">_</span>&nbsp;&nbsp;&nbsp;&nbsp; To: <span id="toSpan">_</span> </label>
                                    <label>Printed on: <span id="printedDate">@ViewBag.Pritdatetime</span></label>
                                    <label>
                                        Export:
                                        <select name="PrintType" id="PrintType">
                                            <option value="Excel">Excel</option>
                                            <option value="PDF">PDF</option>
                                        </select>
                                    </label>

                                    <label>
                                        <button type="button" id="btnExport">Export</button>
                                    </label>
                                    <label>
                                        <button type="button" id="btnprint">Print</button>
                                    </label>
                                </div>
                                <div class="blwsec">
                                    <div class="blwsec-left">
                                        <form action="Report/ExportBalanceSheetReportTo" method="post" id="salesform">
                                            <input type="hidden" name="ExportType" id="ExportType" value="Excel" />
                                            <input type="hidden" name="PrintedDateServer" id="PrintedDateServer" />

                                            <input type="hidden" name="SortBy" value="CreatedAt" id="SortBy" />
                                            <input type="hidden" value="Desc" name="SortOrder" id="SortOrder" />


                                            @{
                                                var pos = (List<SelectListItem>)ViewBag.userPos;
                                            }
                                            @if (pos.Count > 1)
                                            {
                                                <div class="col-md-12">
                                                    <label class="control-label">SELECT POS ID</label>
                                                    @Html.DropDownList("PosId", new SelectList(ViewBag.userPos, "value", "text"), "Select Pos", new { @style = "height:35px; font-weight:bolder; ", @class = " input form-control", @id = "posDrp" })
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-12">
                                                    <span style="font-weight:bold; font-size:35px">POS ID: @pos.FirstOrDefault().Text</span>
                                                    @Html.DropDownList("PosId", new SelectList(ViewBag.userPos, "value", "text"), null, new { @style = "height:35px; font-weight:bolder; display:none;", @class = " input form-control", @id = "posDrp" })

                                                </div>


                                            }
                                            <br />
                                            <br />
                                            <br />

                                            <hr style="background:#d0cbcb; height:1px;" />
                                            <div class="row">
                                                <label style="width:100%;">TRANSACTION PERIOD</label>
                                                <div style="width: 49%; float: left; ">
                                                    <label>FROM:</label>
                                                    <input type="text" value="" id="FromDate" name="FromDate">
                                                </div>
                                                <div style="width: 49%; float: right;">
                                                    <label>TO:</label>
                                                    <input type="text" value="" id="ToDate" name="ToDate">
                                                </div>
                                            </div>

                                            <hr style="background: #d0cbcb; height: 1px; " />

                                            <div class="form-group row">
                                                <label>REPORT</label>
                                                @Html.Partial("partials/_assignedReports", assigned_platforms)
                                            </div>
                                            <hr style="background:#d0cbcb; height:1px;" />
                                            <input type="button" class="btn btn-primary" value="Search" id="btnFilterSearch" />
                                        </form>
                                    </div>



                                    <div class="blwsec-right">
                                        <div class="exportdata" style="height:500px; overflow:scroll;   max-width: 100%;">
                                            <div class="row" style="text-align:right; margin-right:20px; font-weight:bold; font-size:20px; margin-bottom:5px;">
                                                Opening Balance: NLe <strong> 100,000</strong>
                                            </div>
                                            <table class="table table-bordered" id="datatable-icons">
                                                <thead>
                                                    <tr>
                                                        <th data-sortby="CreatedAt">DATE/TIME</th>
                                                        <th data-sortby="TransactionId">TRANS ID</th>
                                                        <th data-sortby="TransactionType">TYPE</th>
                                                        <th data-sortby="Reference">REF #</th>
                                                        <th data-sortby="BALANCE">BALANCE BEFORE</th>
                                                        <th data-sortby="DAMOUNT">DEPOSITS</th>
                                                        <th data-sortby="SAMOUNT">SALES</th>
                                                        <th data-sortby="BALANCE">BALANCE</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @Html.Partial("Partials/_balanceSheetReportListing", Model)
                                                </tbody>
                                            </table>
                                        </div>
                                        @*@Html.Partial("_Paging")*@
                                    </div>
                                    <input type="hidden" value="CreatedAt" id="SortBy" />
                                    <input type="hidden" value="Desc" id="SortOrder" />
                                    <div style="clear:both"></div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCart2">
    @Html.Partial("_voucherReprint")
</div>
<div class="modal fade" id="modalCart3">
    @Html.Partial("_RequestResponseJSON")
</div>

@section scripts{
    <script src="~/Scripts/UserDefinedScripts/paging.js"></script>
    <script src="~/Scripts/UserScripts/balanceSheetReport.js"></script>
    <script src="~/Scripts/UserScripts/reportFilter.js"></script>
    <script src="~/Content/css/Kendo/js/kendo.all.min.js"></script>
    <script src="~/Scripts/jspdf.min.js"></script>
    <script src="~/Scripts/html2canvas.min.js"></script>

    <script src="~/Scripts/Receipt.js"></script>

    <script src="https://kendo.cdn.telerik.com/2019.2.514/js/cultures/kendo.culture.en-GB.min.js"></script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>*@
    <script type="text/javascript">
            var totalCount = "@Model.TotalCount";

        $(document).ready(function () {
            App.init(); 
        });

        $('#PrintType').on("change", function () {
            $('#ExportType').val($(this).val());
        });

        $("#btnExport").click(function (e) {


            var frm = $("#FromDate").val();
            var to = $("#ToDate").val();
            if (frm) {
                $("#frmDt").val(frm);
            }
            else {
                $("#frmDt").val('');

            }
            if (to) {
                $("#toDt").val(to);
            }
            else {
                $("#toDt").val('');
            }
            $('#salesform').attr('action', '/Report/ExportBalanceSheetReportTo');
            $("#salesform").attr("method", "Post");
            $("#salesform").submit();
        })

        $('#btnprint').click(function (e) {

            $('#salesform').attr('action', '/Report/PrintBalancesheetReport');
            $("#salesform").attr("method", "get");
            $("#salesform").submit();
        });

    </script>
}

