@model PagingResult<DepositListingModel>
@{
    ViewBag.Title = "Manage Reports";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

@{
    var assigned_platforms = (List<SelectListItem>)ViewBag.AssignedReports;
}
<link href="~/Content/css/Kendo/css/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/css/Kendo/css/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/css/Kendo/css/kendo.default.mobile.min.css" rel="stylesheet" />
<div class="container-fluid" id="pcont">
    <style>
        input {
            font-weight: bold;
            text-transform: uppercase;
        }

        select {
            font-weight: bold;
            text-transform: uppercase;
        }

        label {
            font-weight: bold;
            text-transform: uppercase;
        }

        option {
            font-weight: bold;
        }
    </style>
    <div class="page-head">
        <h3><b>Manage Deposit Report</b></h3>

    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    @*<div class="header">
                            <h3>DEPOSIT REPORTS</h3>
                        </div>*@
                    <div class="content">
                        <div class="table-responsive">
                            <div id="divResult">
                                <div class="topsec">
                                    <h2>DEPOSIT REPORTS</h2>
                                    @*<label>Deposit Report</label>*@
                                    <label>From: <span id="fromSpan">_</span> &nbsp;&nbsp;&nbsp;&nbsp; To: <span id="toSpan">_</span> </label>
                                    <label>Printed on: <span id="printedDate"> @ViewBag.Pritdatetime</span></label>
                                    <label>
                                        Export:
                                        <select name="PrintType" id="PrintType">
                                            <option value="Excel">Excel</option>
                                            <option value="PDF">PDF</option>
                                        </select>
                                    </label>

                                    @*<label>
                                        <button type="button" id="btnExport">Export</button>

                                    </label>
                                    <label>
                                        <button type="button" id="btnprint">Print</button>
                                    </label>*@

                                </div>
                                <div class="blwsec">
                                    <div class="blwsec-left">
                                        <form action="/Report/ExportDepositReportTo" method="post" id="depositsForm">
                                            <input type="hidden" name="ExportType" id="ExportType" value="Excel" />
                                            <input type="hidden" name="PrintedDateServer" id="PrintedDateServer" />

                                            <input type="hidden" name="SortBy" value="CreatedAt" id="SortBy" />
                                            <input type="hidden" value="Desc" name="SortOrder" id="SortOrder" />

                                            @{
                                                var pos = (List<SelectListItem>)ViewBag.userPos;
                                            }
                                            @if (pos.Count > 1)
                                            {
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-md-2" style=" width:20% !important;">POS:</label>
                                                    @Html.DropDownList("POS", new SelectList(ViewBag.userPos, "value", "text"), "SELECT POS", new { @style = " width:70% !important;", @class = "form-control col-md-6", @id = "posDrp" })

                                                </div>
                                            }
                                            else
                                            {
                                                <div class=" col-md-12">
                                                    <span style="font-weight:bold; font-size:35px">POS ID: @pos.FirstOrDefault().Text</span>
                                                    @Html.DropDownList("PosId", new SelectList(ViewBag.userPos, "value", "text"), null, new { @style = "height:35px; font-weight:bolder; display:none;", @class = " input form-control", @id = "posDrp" })

                                                </div>
                                                <br />
                                                <br />
                                                <br />
                                            }

                                            <hr style="background:#d0cbcb; height:1px;" />
                                            <div class="form-group  row">
                                                <label style="width:100%;">TRANSACTION PERIOD</label>
                                                <div style="width: 49%; float: left; ">
                                                    <label>FROM:</label>
                                                    <input type="text" value="" id="FromDate" name="FromDate">
                                                </div>
                                                <div style="width: 49%; float: right; ">
                                                    <label>TO:</label>
                                                    <input type="text" value="" id="ToDate" name="ToDate">
                                                </div>
                                            </div>

                                            <hr style="background:#d0cbcb; height:1px;" />
                                            <div class="form-group  row">
                                                <label>REPORT</label>
                                                @Html.Partial("partials/_assignedReports", assigned_platforms)
                                            </div>
                                            <hr style="background:#d0cbcb; height:1px;" />
                                            <div class="form-group  row">
                                                <label style="width:30%;  float:left;">BANK:</label>
                                                @Html.DropDownList("BANK", new SelectList(ViewBag.Banks, "value", "text"), "SELECT BANK", new { @style = "width:65%; float:right;", @id = "bank", @class = "form-control" })

                                            </div>
                                            <div class="form-group  row">
                                                <label style="width:30%;">TYPE:</label>
                                                @Html.DropDownList("DepositType", new SelectList(ViewBag.DepositTypes, "value", "text"), "SELECT TYPE", new { @class = "form-control", @style = "width:65%; float:right;", @id = "depositType" })

                                            </div>
                                            <div class="form-group  row">
                                                <label style="width:30%;">REF #</label>
                                                <input style="width:65%; float:right;" , type="text" id="refNumber" name="refNumber" class="form-control">
                                            </div>
                                            <input type="button" class="btn btn-primary" value="Search" id="btnFilterSearch" />
                                        </form>

                                    </div>
                                    <div class="blwsec-right">
                                        <div class="row">
                                            <strong>We are currently updating deposit reports!!!  </strong>
                                            <p>Please try again later or contact vendtech support</p>
                                        </div>
                                        @*<div class="exportdata" style="height:500px; overflow:scroll;   max-width: 100%;">
            <table class="table table-bordered" id="datatable-icons">
                <thead>
                    <tr>
                        <th class="sorting" data-sortby="CreatedAt">DATE/TIME</th>
                        <th class="sorting" data-sortby="CreatedAt">VALUE DATE</th>
                        <th class="sorting" data-sortby="POS">POS ID</th>
                        <th class="sorting" data-sortby="Vendor">VENDOR</th>
                        <th class="sorting" data-sortby="UserName">APPROVER</th>
                        <th class="sorting" data-sortby="PaymentType">TYPE</th>
                        <th class="sorting" data-sortby="BANK">BANK</th>
                        <th class="sorting" data-sortby="TransactionId">TRANS ID</th>
                        <th class="sorting" data-sortby="CheckNumberOrSlipId">REF #</th>
                        <th class="sorting" data-sortby="Amount">AMOUNT</th>
                        <th class="sorting" data-sortby="PercentageAmount">%</th>
                        <th class="sorting" data-sortby="NewBalance">BALANCE</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.Partial("Partials/_depositListing", Model)
                </tbody>
            </table>
        </div>*@
                                        @*@Html.Partial("_Paging")*@
                                    </div>
                                    <input type="hidden" value="CreatedAt" id="SortBy" />
                                    <input type="hidden" value="Desc" id="SortOrder" />
                                    <div style="clear:both"></div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="depositDetailModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-body">
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/UserDefinedScripts/paging.js"></script>
    <script src="~/Scripts/UserScripts/depositReport.js"></script>
    <script src="~/Scripts/UserScripts/reportFilter.js"></script>
    <script src="~/Content/css/Kendo/js/kendo.all.min.js"></script>
    <script src="~/Scripts/jspdf.min.js"></script>
    <script src="~/Scripts/html2canvas.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.514/js/cultures/kendo.culture.en-GB.min.js"></script>
    <script src="~/Scripts/Receipt.js"></script>
    <script type="text/javascript">
        var totalCount = "@Model.TotalCount";

        $(document).ready(function () {
            //initialize the javascript 
            App.init();

        });
         
        $('#PrintType').on("change", function () {
            $('#ExportType').val($(this).val());
        });

        $("#btnExport").click(function (e) {
            var frm = $("#FromDate").val();
            var to = $("#ToDate").val();
            if (frm) {
                var dtVal = frm.split("/");
                $("#frmDt").val(dtVal[1] + "/" + dtVal[0] + "/" + dtVal[2]);
            }
            else {
                $("#frmDt").val('');

            }
            if (to) {
                var dtVal = to.split("/");
                $("#toDt").val(dtVal[1] + "/" + dtVal[0] + "/" + dtVal[2]);
            }
            else {
                $("#toDt").val('');
            }



            $('#depositsForm').attr('action', '/Report/ExportDepositReportTo');
            $("#depositsForm").attr("method", "Post");
            $("#depositsForm").submit();
        })

        $('#btnprint').click(function (e) {
            $('#depositsForm').attr('action', '/Report/PrintDepositReport');
            $("#depositsForm").attr("method", "get");
            $("#depositsForm").submit();
        });
    </script>   
}

