@model PagingResult<MeterRechargeApiListingModel>
@{ ViewBag.Title = "Manage Reports";
    Layout = "~/Views/Shared/_LayOut.cshtml"; }


@{
    var assigned_platforms = (List<SelectListItem>)ViewBag.AssignedReports;
}
<link href="~/Content/css/Kendo/css/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/css/Kendo/css/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/css/Kendo/css/kendo.default.mobile.min.css" rel="stylesheet" />
<link href="~/Content/pos_receipt.css" rel="stylesheet" />
<div class="container-fluid" id="pcont">
    <style>
        input {
            font-weight: bold;
            text-transform: uppercase;
        }

        select {
            font-weight: bold;
            text-transform: uppercase;
        }

        label {
            font-weight: bold;
            text-transform: uppercase;
        }

        option {
            font-weight: bold;
        }


        div.dataTables_filter > label::before {
            content: "Quick Search :";
        }
    </style>
    <div class="page-head">
        <h3><b>Manage Sales Report</b></h3>

    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <div class="content">
                        <div class="table-responsive">
                            <div id="divResult">
                                <div class="topsec">
                                    <h2>SALES REPORTS</h2>
                                    <label>From: <span id="fromSpan">_</span>&nbsp;&nbsp;&nbsp;&nbsp; To: <span id="toSpan">_</span> </label>
                                    <label>Printed on: <span id="printedDate">@ViewBag.Pritdatetime</span></label>
                                    <label>
                                        Export:
                                        <select name="PrintType" id="PrintType">
                                            <option value="Excel">Excel</option>
                                            <option value="PDF">PDF</option>
                                        </select>
                                    </label>

                                    <label>
                                        <button type="button" id="btnExport">Export</button>
                                    </label>
                                    <label>
                                        <button type="button" id="btnprint">Print</button>
                                    </label>
                                </div>
                                <div class="blwsec">
                                    <div class="blwsec-left">
                                        <form action="Report/ExportSalesReportTo" method="post" id="salesform">
                                            <input type="hidden" name="ExportType" id="ExportType" value="Excel" />
                                            <input type="hidden" name="PrintedDateServer" id="PrintedDateServer" />

                                            <input type="hidden" name="SortBy" value="CreatedAt" id="SortBy" />
                                            <input type="hidden" value="Desc" name="SortOrder" id="SortOrder" />
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-md-2" style=" width:20% !important;"> POS:</label>
                                                @Html.DropDownList("POS", new SelectList(ViewBag.userPos, "value", "text"), "SELECT POS", new { @class = "form-control col-md-6", style = " width:70% !important;", @id = "pos" })
                                            </div>
                                            <hr style="background:#d0cbcb; height:1px;" />
                                            <div class="row">
                                                <label style="width:100%;">TRANSACTION PERIOD</label>
                                                <div style="width: 49%; float: left; ">
                                                    <label>FROM:</label>
                                                    <input type="text" value="" id="FromDate" name="FromDate">
                                                </div>
                                                <div style="width: 49%; float: right;">
                                                    <label>TO:</label>
                                                    <input type="text" value="" id="ToDate" name="ToDate">
                                                </div>
                                            </div>

                                            <hr style="background: #d0cbcb; height: 1px; " />

                                            <div class="form-group row">
                                                <label>REPORT</label>
                                                <select id="rpt" onchange="changeReport()" class="form-control">
                                                    @if (assigned_platforms.Count() > 0 && assigned_platforms.Any(e => e.Text == "SALES REPORT"))
                                                    {
                                                        <option value="2" selected="selected">SALES REPORT</option>
                                                    }
                                                    @if (assigned_platforms.Count() > 0 && assigned_platforms.Any(e => e.Text == "DEPOSITS REPORT"))
                                                    {
                                                        <option value="1">DEPOSIT REPORT</option>
                                                    }
                                                </select>
                                            </div>
                                            <hr style="background:#d0cbcb; height:1px;" />

                                            <div class="form-group row">
                                                <label style="width:30%;  float:left;">Meter #:</label>
                                                <input style="width:65%; float:right;" type="text" id="meterNo" name="Meter" class="form-control">
                                            </div>


                                            <div class="form-group row">
                                                <label style="width:30%;  float:left;">VT Trans ID:</label>
                                                <input style="width:65%; float:right;" type="text" id="tranId" name="TransactionId" class="form-control">
                                            </div>
                                            <input type="button" class="btn btn-primary" value="Search" id="btnFilterSearch" />
                                        </form>
                                    </div>



                                    <div class="blwsec-right">
                                        <div class="exportdata" style="height:500px; overflow:scroll;   max-width: 100%;">
                                            <table class="table table-bordered" id="datatable-icons">
                                                <thead>
                                                    <tr>
                                                        <th class="sorting" data-sortby="CreatedAt">DATE/TIME</th>
                                                        <th>PRODUCT</th>
                                                        <th class="sorting" data-sortby="TransactionId">TRANSACTION ID</th>
                                                        <th class="sorting" data-sortby="MeterNumber">METER #</th>
                                                        <th class="sorting" data-sortby="VendorName">VENDOR NAME</th>
                                                        <th class="sorting" data-sortby="POS">POS ID</th> 
                                                        <th>TOKEN</th>
                                                        <th class="sorting" data-sortby="Amount">AMOUNT</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @Html.Partial("Partials/_salesListing", Model)
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <input type="hidden" value="CreatedAt" id="SortBy" />
                                    <input type="hidden" value="Desc" id="SortOrder" />
                                    <div style="clear:both"></div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCart2">
    @Html.Partial("_fetchVoucher")
</div>
<div class="modal fade" id="modalCart3">
    @Html.Partial("_RequestResponseJSON")
</div>

@section scripts{
    <script src="~/Scripts/UserDefinedScripts/paging.js"></script>
    <script src="~/Scripts/UserScripts/salesReport.js"></script>
    <script src="~/Content/css/Kendo/js/kendo.all.min.js"></script>
    <script src="~/Scripts/jspdf.min.js"></script>
    <script src="~/Scripts/html2canvas.min.js"></script>

    <script src="~/Scripts/Receipt.js"></script>

    <script src="https://kendo.cdn.telerik.com/2019.2.514/js/cultures/kendo.culture.en-GB.min.js"></script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>*@
    <script type="text/javascript">
            var totalCount = "@Model.TotalCount";

            $(document).ready(function () {
                //initialize the javascript

                App.init();

                $("#FromDate").kendoDatePicker({
                    culture: "en-GB",
                    value: new Date(),
                    change: function () { $("#fromSpan").html($("#FromDate").val()) }
                });
                $("#ToDate").kendoDatePicker({
                    culture: "en-GB",
                    value: new Date(),
                    change: function () { $("#toSpan").html($("#ToDate").val()) }
                });
                $("#fromSpan").html($("#ToDate").val())
                $("#toSpan").html($("#ToDate").val())
                const date = new Date();
                const formattedDate = date.toLocaleDateString('en-GB', {
                    day: '2-digit', month: '2-digit', year: 'numeric'
                }).replace(/ /g, '-') + " " + date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }).replace("AM", "").replace("PM", "");
                // $("#printedDate").text(printDt.getDate() + "/" + getMonthName(printDt.getMonth()) + "/" + printDt.getFullYear()+" "+printDt.toLocaleTimeString());
                $("#printedDate").text(formattedDate);
                $("#PrintedDateServer").val(formattedDate);
                function downloadURI(imgData, name) {
                    var link = document.createElement("a");


                    var pdf = new jsPDF();

                    const imgProps = pdf.getImageProperties(imgData);
                    const pdfWidth = pdf.internal.pageSize.getWidth();
                    const pdfHeight = (imgProps.height * pdfWidth) / imgProps.width;
                    pdf.addImage(imgData, 'PNG', 10, 10, pdfWidth - 20, pdfHeight - 20);

                    pdf.save(name);

                }

                Deposits.ManageDeposits(totalCount);

            });

        var d = new Date();
        $("#FromDate").kendoDatePicker({
            max: new Date(d.getFullYear(), d.getMonth(), d.getDate()),
            format: "dd/MM/yyyy"
        });
        var datePicker1 = $("#FromDate").data("kendoDatePicker");
        $("#FromDate").click(function () {
            datePicker1.open();
        })
        $("#ToDate").kendoDatePicker({
            max: new Date(d.getFullYear(), d.getMonth(), d.getDate()),
            format: "dd/MM/yyyy"
        });
        var datePicker2 = $("#ToDate").data("kendoDatePicker");
        $("#ToDate").click(function () {
            datePicker2.open();
        })



            debugger

            function changeReport() {
                var val = $("#rpt").val();
                if (val == 1)
                    window.location.href = '/Report/DepositReport';
                else
                    window.location.href = '/Report/SalesReport';
            }

            $('#PrintType').on("change", function () {
                $('#ExportType').val($(this).val());
            });



        $("#btnExport").click(function (e) {

           
                var frm = $("#FromDate").val();
                var to = $("#ToDate").val();
                if (frm) {
                    var dtVal = frm.split("/");
                    $("#frmDt").val(dtVal[1] + "/" + dtVal[0] + "/" + dtVal[2]);
                }
                else {
                    $("#frmDt").val('');

                }
                if (to) {
                    var dtVal = to.split("/");
                    $("#toDt").val(dtVal[1] + "/" + dtVal[0] + "/" + dtVal[2]);
                }
                else {
                    $("#toDt").val('');
                }
                $('#salesform').attr('action', '/Report/ExportSalesReportTo');
                $("#salesform").attr("method", "Post");
                $("#salesform").submit();
            })

        $('#btnprint').click(function (e) {

                $('#salesform').attr('action', '/Report/PrintSalesReport');
                $("#salesform").attr("method", "get");
                $("#salesform").submit();
            });

    </script>
}

