@model PagingResultWithDefaultAmount<BalanceSheetListingModel2>


@if (Model.List != null && Model.List.Count() > 0)
{
    <tr>
        <td colspan="6" style="text-align:right;"><strong>OPENING BALANCE</strong></td>
        <td style="text-align:right; font-weight: bold; font-size:20px; color:red;" id="openingBal">@Model.Amount</td>
    </tr>
    foreach (var item in Model.List)
    {
        var deposit = item.TransactionType == "Deposit" ? "font-weight: bold; color: green;" : "";
        var sale = item.TransactionType != "Deposit";
        var balBeforeColor = sale ? "orange" : "black";
        var salesColor = sale ? "blue" : "black";
        var balColor = sale ? "red" : "black";

        <tr class="odd gradeX">
            <td style='text-align: right; @deposit'> @item.DateTime</td>
            <td style="text-align:right; @deposit"> @item.TransactionId</td>
            <td style="text-align:left; text-transform:uppercase; @deposit">
                @item.TransactionType
            </td>
            <td style="text-align:right; @deposit"> @item.Reference</td>
            <td style="text-align:right; @deposit">
                @if (!string.IsNullOrEmpty(item.BalanceBefore))
                {
                    <span>-</span>
                }
                else
                {
                    <span style="@deposit font-weight: bold; color: @balBeforeColor">@item.BalanceBefore</span>
                }
            </td>
            <td style="text-align:right; @deposit">
                @if (!string.IsNullOrEmpty(item.DepositAmount))
                {
                    <span>-</span>
                }
                else
                {
                    <span style="@deposit ">@item.DepositAmount</span>
                }
            </td>
            <td style="text-align:right;">
                @if (!string.IsNullOrEmpty(item.SaleAmount))
                {
                    <span>-</span>
                }
                else
                {
                    <span style="@deposit font-weight: bold; color: @salesColor">@item.SaleAmount</span>
                }
            </td>
            <td style="text-align:right;">
                @if (!string.IsNullOrEmpty(item.Balance))
                {
                    <span>-</span>
                }
                else
                {
                    <span style="@deposit font-weight: bold; color: @balColor">@item.Balance</span>
                }
            </td>
        </tr>
    }
}
else
{
    <tr class="odd gradeX">
        <td colspan="9" style="font-weight:bold;">SEARCH COMPLETE! No marching record found</td>
    </tr>
}


