@model PagingResult<DepositAuditModel>


@if (Model.List != null && Model.List.Count() > 0)
{
    foreach (var item in Model.List)
    {
        <tr class="odd gradeX">
            <td style="text-align:right">@item.CreatedAt</td>
            <td style="text-align:right">@item.PosId</td>
            <td style="text-align:left">@item.DepositBy</td>
            <td style="text-align:left">@item.Type</td>
            <td style="text-align:left">@item.Payer</td>
            <td style="text-align:left">@(!string.IsNullOrEmpty(item.IssuingBank)?item.IssuingBank.Substring(0, item.IssuingBank.IndexOf("-")):"")</td>
            <td style="text-align:right">@item.DepositRef</td>
            <td style="text-align:left">@item.GTBank</td>
            <td style="text-align:right;font-weight: 1000;">@(item.Amount == null ? "0" : string.Format("{0:N0}", item.Amount))</td>
            <td>
                @if (!item.isAudit)
                {
                    <a href="javascript:void" class="btn btn-success" onclick="editDeposit('@item.Id','@item.PosId','@item.DepositBy','@item.Payer','@item.IssuingBank','@item.DepositRef','@item.GTBank','@(item.Amount == null ? "0" : string.Format("{0:N0}", item.Amount))','@item.isAudit','@item.UserId','@item.CreatedAt')" data-original-short_name="Open" data-original-title="Open" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                }
                else
                {
                    <a href="javascript:void" class="btn btn-clear" data-original-short_name="Cleared" onclick="editDeposit('@item.Id','@item.PosId','@item.DepositBy','@item.Payer','@item.IssuingBank','@item.DepositRef','@item.GTBank','@(item.Amount == null ? "0" : string.Format("{0:N0}", item.Amount))','@item.isAudit','@item.UserId','@item.CreatedAt')" data-original-title="Cleared" data-toggle="tooltip"><i class="fa fa-eye-slash"></i></a>
                }
            </td>
        </tr>
    }
}
else
{
    <tr class="odd gradeX">
        <td colspan="9">No Record Found</td>
    </tr>
}


