@model PagingResult<GSTRechargeApiListingModel>


@if (Model.List != null && Model.List.Count() > 0)
{
    foreach (var item in Model.List)
    {
<tr class="odd gradeX">
    <td style="text-align:right;"> @item.CreatedAt</td>
    <td style="text-align:right;"> @item.TransactionId</td>
    <td style="text-align:right;"> @item.Receipt</td>
    <td style="text-align:right;"> @item.MeterNumber</td>
    <td style="text-align:right;">

        <span style="font-size:15px;">
            @VendTech.BLL.Common.Utilities.FormatAmount(item.Amount)
        </span>
    </td>
    <td style="text-align:right;">

        <span style="font-size:15px;">
            @VendTech.BLL.Common.Utilities.FormatAmount(item.ServiceCharge)
        </span>
    </td>
    <td style="text-align:right;">

        <strong style="font-size:15px; color:green;">
            @VendTech.BLL.Common.Utilities.FormatAmount(item.Gst)
        </strong>
    </td>
    <td style="text-align:right;">

        <span style="font-size:15px;">
            @VendTech.BLL.Common.Utilities.FormatAmount(item.UnitsCost)
        </span>
    </td>
    <td style="text-align:right;">

        <span style="font-size:15px;">
            @VendTech.BLL.Common.Utilities.FormatAmount(item.Tarrif)
        </span>
    </td>
    <td style="text-align:right;">

        <span style="font-size:15px;">
            @VendTech.BLL.Common.Utilities.FormatAmount(Convert.ToDecimal(item.Units))
        </span>
    </td>
</tr>
    }
}
else
{
    <tr class="odd gradeX">
        <td colspan="9" style="font-weight:bold;">SEARCH COMPLETE! No marching record found</td>
    </tr>
}


