@model PagingResult<MeterRechargeApiListingModel>

  
@if (Model.List != null && Model.List.Count() > 0)
    {
        foreach (var item in Model.List)
        {
        <tr class="odd gradeX">
            <td style="text-align:right;"> @item.CreatedAt</td>
            <td style="text-align:right;"> @item.ProductShortName</td>
            <td style="text-align:right;"> @item.TransactionId</td>
            <td style="text-align:right;"> @item.MeterNumber</td>
            <td> @item.VendorName</td>
            <td style="text-align:right;"> @item.POSId</td>
            <td style="text-align:right;"><strong>
        @{
            if (item.RechargePin != null && item.RechargePin.Length >= 2 && item.RechargePin.Length <= 12)
            {
                item.RechargePin = item.RechargePin.Insert(4, " ").Insert(9, " ");
            }
            if (item.RechargePin != null && item.RechargePin.Length >= 12 && item.RechargePin.Length <= 16)
            {
                item.RechargePin = item.RechargePin.Insert(4, " ").Insert(9, " ").Insert(14, " ");
            }
            if (item.RechargePin != null && item.RechargePin.Length >= 16 && item.RechargePin.Length <= 21)
            {
                item.RechargePin = item.RechargePin.Insert(4, " ").Insert(9, " ").Insert(14, " ").Insert(19, " ");
            }
        }
        @item.RechargePin
        </strong></td>
            <td style="text-align:right;"> <strong> @(item.Amount == null ? "0" : string.Format("{0:N0}", item.Amount))</strong></td>
        </tr>
        }//.Insert(4, " ").Insert(9, " ").Insert(14, " ").Insert(19, " ")
    }
    else
    {
        <tr class="odd gradeX">
            <td colspan="8" style="font-weight:bold;">SEARCH COMPLETE! No marching record found</td>
        </tr>
    }


