﻿﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/images/vt_logo.PNG">
    <title>Administration Panel</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
        @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />*@

    <style>
        .modal-body123 {
            background-color: #f8f9fa;
            color: #343a40;
            padding: 20px;
        }


            .modal-body123 p {
                margin-bottom: 10px;
            }


            .modal-body123 a {
                color: #007bff;
                text-decoration: underline;
            }

        .page-head {
            margin-top: 30px;
        }
    </style>

    @Styles.Render("~/Content/adminLayoutCSS")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")



</head>
<body>
    @Html.Partial("_Header")
    @{ var user = (UserDetails)ViewBag.LOGGEDIN_USER; }
    <div id="cl-wrapper" class="fixed-menu">

        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Timeout Warning</h5>
                        @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>*@
                    </div>
                    <div class="modal-body123">
                        <p>Your session has been idle for some minutes. If you do not respond, the system will disconnect you in 30 seconds.</p>
                        <p id="timeout">Warning session timeout in <span id="countdown">30 </span> seconds</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="maintainSession()" data-dismiss="modal">STAY</button>
                        <a href="@Url.Action("SignOut", "Home")" class="btn " style="background:yellow">LOGOUT</a>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_SideBaar")

        @if (user.UserType != UserRoles.AppUser)
        {
            @RenderBody()
        }
        else
        {
            <div><H1>Access denied! You do not have permission to access this corner</H1></div>
        }

    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/extendedjs")
    @Scripts.Render("~/bundles/themeSpecific")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)



    <script>

        setInterval(function () {
            $.ajax({
                url: '/Admin/Home/AutoLogout',
                success: function (data) {
                    console.log(data)
                    if (data.Message == "aboutTo") {
                        $("#logoutModal").modal('show');
                        updateCountdown();
                    }
                    if (data.Message == "expired") {
                        window.location.href = '/Admin/Home/Index'
                    }

                    //if (data.Status != 1) {
                    //    window.location.href = '/Admin/Home/Index';
                    //}
                }
            })
        }, 10000);

        function maintainSession() {
            $.ajax({
                url: '/Admin/Home/MaintainSession',
                success: function (data) {
                    console.log('data', data)
                }
            })
        }


        setInterval(function () {
            $.ajax({
                url: '/Admin/Home/CheckForUnClearedDeposits',
                success: function (data) {
                    //$("#dealerBal").text(data.result.LastDealerBalance);
                    //$("#transDate").text(data.result.RequestDate);
                }
            })
        }, 120000);

        setTimeout(function () {
            $.ajax({
                url: '/Admin/Home/ReturnUserImageLogo',
                success: function (data) {
                    $("#image").attr({ "src": data.result });
                    console.log('logo', data.result)
                }
            })
        }, 1000);



        $(".navbar-default .navbar-brand").live("click", function () {
                window.location.href='/Admin/Home/Dashboard';
            });
        function showTimeSetModal() {
            var value = '@ViewBag.Minutes';
            $("#timeTxt").val(value);
            $("#timeSetModal").modal('show');
        }
        function saveLogoutTime() {
            if (!$("#timeTxt").val()) {
                $.ShowMessage($('div.messageAlert'), "Time is required", MessageType.Error);
                return
            }
            $.ajax({
                url: '/Admin/Home/SaveLogoutTime',
                type:'POST',
                data: { Time: $("#timeTxt").val() },
                success: function (data) {
                    if (data.Status == 1) {
                        $("#timeSetModal").modal('hide');
                        $.ShowMessage($('div.messageAlert'), data.Message, MessageType.Success);
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                    else
                        $.ShowMessage($('div.messageAlert'), data.Message, MessageType.Error);
                }
            })
        }


        function toggleOpenClass() {
            var element = document.getElementById('profile_menu');
            element.classList.toggle('open');
        }

        function toggleNotification() {
            var element = document.getElementById('notification_menu');
            element.classList.toggle('open');
        }


    </script>

    <script>
        let countdownTime = 30;
        function updateCountdown() {
            const timeoutElement = document.getElementById('timeout');
            const countdownElement = document.getElementById('countdown');
            countdownElement.textContent = countdownTime;
            if (countdownTime === 0) {
                timeoutElement.textContent = 'Loging out.....';
            } else {
                countdownTime--;
                setTimeout(updateCountdown, 1000);
            }
        }
    </script>
</body>
</html>