
@{
    var user = (UserDetails)ViewBag.LOGGEDIN_USER;
    var data = ViewBag.Data;
    var assignerModules = (List<ModulesModel>)ViewBag.USER_PERMISSONS;
}

<style>
    .icon_not {
        height: 30px;
        width: 25px; 
        font-size: 20px;
    }

    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
       
         /*display: block;*/ 
         flex-wrap: nowrap; 
    }
    .not_count {
        font-size: 20px;
        position: relative;
        right: 20px;
        border-radius: 100%;
        border: none;
        color: white;
        text-align: center;
        background-color: red;
        bottom: 19px;
        display: inline;
        width: 30px;
    }
</style>


<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" style="background: rgb(40 40 40);">
    <div class="container-fluid">
        <div class="navbar-brand" 
             style="padding: 0 !important; height: 100%;"
             >
            <button style="border: none; box-shadow: none;" type="button" class="d-lg-none btn rounded  btn-action-sidebar" id="mob-menu">
                <i class="fa fa-bars" style="font-size: 20px;"></i>
                <span class="text-light" style="font-size: 20px;">MENU</span>
            </button>
            <a  href="/admin/Home/Dashboard" class="d-none d-md-none d-lg-block">
                <img src="~/Content/images/logo1.jpg" style="width: 280px; height: 100%; object-fit: cover;"/>
            </a>

        </div>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" id="notification_menu" onclick="toggleNotification()">

                <a class="nav-link dropdown-toggle text-light" href="#" id="notificationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @*<i class="fa fa-solid fa-bell fa-2x text-light"></i>*@
                    <img class="profilepictureclass" src="~/Content/images/notification.png" width="45" />
                    <span class="badge icon_not" style=" font-size: 20px; position: relative; right: 20px; border-radius: 100%; border: none; color: white; text-align: center; background-color: red; bottom: 19px; padding-top:5px; width: 30px; ">@(data.RemainingAppUser + data.RemainingDepositRelease)</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right text-light" aria-labelledby="notificationDropdown" style="background-color: #282828">
                    @if (assignerModules.Where(X => X.ControllerName == "24").ToList().Count() > 0)
                    {
                        <a class="dropdown-item" href="@Url.Action("ManageAppUsers","AppUser",new { status = "Pending"})">
                            @if (!string.IsNullOrEmpty(data.AppUserMessage))
                            {
                                <span class="d-flex justify-content-between " style="color: white;">@data.AppUserMessage <span class="badge " style="background: red; color: white; border-radius: 100%; border: none;">@data.RemainingAppUser</span></span>
                            }
                        </a>
                    }
                    @if (assignerModules.Where(X => X.ControllerName == "25").ToList().Count() > 0)
                    {
                        <a class="dropdown-item" href="@Url.Action("ManageDepositRelease","ReleaseDeposit",new { status = "Pending"})">
                            @if (!string.IsNullOrEmpty(data.DepositReleaseMessage))
                            {
                                <span class="d-flex justify-content-between " style="color: white;">@data.DepositReleaseMessage <span class="badge" style="background: red; color: white; border-radius: 100%; border: none;">@data.RemainingDepositRelease</span></span>
                            }
                        </a>
                    }

                </div>
            </li>
       
            <li class="nav-item dropdown" id="profile_menu" onclick="toggleOpenClass()">
                <a class="nav-link dropdown-toggle text-light" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user fa-2x text-light"></i> <span >@user.FirstName @user.LastName</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right text-light" aria-labelledby="profileDropdown" style="background-color:white">
                    @*<a class="dropdown-item" href="#">Profile</a>*@
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("SignOut", "Home")">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>