@model PagingResult<AgentListingModel>
@{
    var user = (UserDetails)ViewBag.LOGGEDIN_USER;
}

@if (Model.List != null && Model.List.Count() > 0)
{
    foreach (var item in Model.List)
    {
<tr class="odd gradeX">
    <td>@item.POSID</td>
    <td>@item.AgencyName</td>
    <td> @item.CellPhone</td>
    <td> @item.AgentName</td>
    <td> @item.Enabled</td>
    <td> <strong style="color:green;">@item.TodaySales</strong> </td>
    <td> <strong style="color:green;">@item.Balance</strong> </td>
    <td>
        <a class="btn btn-success btn-xs" href="#" data-original-title="Diable" data-toggle="tooltip">Disable</a> 
    </td>
</tr>
    }
}
else
{
    <tr class="odd gradeX">
        <td colspan="5">No Record Found</td>
    </tr>
}


