@model PagingResult<AgentListingModel>
@{
    var user = (UserDetails)ViewBag.LOGGEDIN_USER;
}

@if (Model.List != null && Model.List.Count() > 0)
{
    foreach (var item in Model.List)
    {
        <tr class="odd gradeX">
            <td>@item.AgencyName</td>
            <td>@item.Vendor</td>
            <td style="text-align:right;"><a style="cursor:pointer;" onclick="GeneratePasscode('@item.POSID', '@item.VendorEmail', '@item.CellPhone', '@item.VendorId')">@item.SerialNumber</a></td>
            <td style="text-align:right;"> @item.CellPhone</td>
            <td> @item.AgentName</td>
            <td style="color:green; text-align:right;"> <strong>@item.TodaySales</strong> </td>
            <td style="color:green; text-align:right;"> <strong>@item.Balance</strong> </td>
            <td> @item.Enabled</td>
            <td> 
                @if (item.Enabled)
                {
                    <a data-id="@item.POSID" class="btn btn-success btn-xs disablePOS " href="javascript:void(0);" style="background:green; border:none;" data-original-title="Disable" data-toggle="tooltip">Disable</a>
                }
                else
                {
                    <a data-id="@item.POSID" class="btn btn-warning btn-xs enablePOS" href="javascript:void(0);" ; style="background: red; border: none;" data-original-title="Enable" data-toggle="tooltip">Enable</a>
                }
            </td>
        </tr>
    }
}
else
{
    <tr class="odd gradeX">
        <td colspan="5">No Record Found</td>
    </tr>
}


