@model PagingResultWithDefaultAmount<BalanceSheetListingModel2>
@{

    ViewBag.Title = "Manage Balance Sheet Reports";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut2.cshtml"; }
<link href="~/Content/css/Kendo/css/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/css/Kendo/css/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/css/Kendo/css/kendo.default.mobile.min.css" rel="stylesheet" />
<style>
    input {
        font-weight: bold;
        text-transform: uppercase;
    }

    select {
        font-weight: bold;
        text-transform: uppercase;
    }

    label {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 15px;
    }

    option {
        font-weight: bold;
    }
</style>

<div class="s_content">
    <div class="page-head">
        <h4><b>Manage Balance Sheet Report</b></h4>
    </div>

    <div class="m_content">
        <div id="divResult">
            <div class="d-flex justify-content-between mb-2">
                <div class="col-md-3 d-none d-lg-block">
                    <h4>Balance Sheet Report</h4>
                </div>
                <div class="row col-md-5 justify-content-between">
                    <label class="col-md-4"><span class="font-weight-light">From :</span> <span id="fromSpan">_</span></label>
                    <label class="col-md-4"> <span class="font-weight-light">To :</span> <span id="toSpan">_</span> </label>
                    <label class="col-md-4"><span class="font-weight-light">Printed on :</span> <span id="printedDate">@ViewBag.Pritdatetime</span></label>
                </div>
                <div class="col-md-5 justify-content-between">
                    <div class="row">
                        <label class="font-weight-light">
                            Export:
                        </label>

                        <label>
                            <select name="PrintType" id="PrintType" class="form-control">
                                <option value="Excel">Excel</option>
                                <option value="PDF">PDF</option>
                            </select>
                        </label>

                        <div>
                            <label>
                                <button class="btn" type="button" id="btnExport"><strong>Export</strong></button>
                            </label>
                            <label>
                                <button class="btn" type="button" id="btnprint"><strong>Print</strong></button>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-between">

              
                <div class="col-xs-12 col-sm-6 col-md-3">
                    @using (Html.BeginForm("ExportBalanceSheetReportTo", "Report", FormMethod.Post, new { @id = "salesForm" }))
                    {
                        <input type="hidden" name="ExportType" id="ExportType" value="Excel" />
                        <input type="hidden" name="PrintedDateServer" id="PrintedDateServer" />
                        <input type="hidden" name="Status" id="hdnStatus" />
                        <div class="form-group row">
                            <label class="col-4">Vendor:</label>
                            <div class="col-8">
                                @Html.DropDownList("VendorId", new SelectList(ViewBag.Vendors, "value", "text"), "SELECT VENDOR", new { @class = "form-control col-12", @id = "vendor" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-4" style=" width:31% !important;">POS:</label>
                            <div class="col-8">
                                @Html.DropDownList("PosId", new SelectList(ViewBag.PosId, "value", "text"), "-SELECT POS-", new { @class = "form-control col-12", @id = "pos" })
                            </div>
                        </div>

                        <hr style="background:#d0cbcb; height:1px;" />
                        <div class="form-group row">
                            <label class="col-12">TRANSACTION PERIOD</label>
                            <div class="d-flex justify-content-between">
                                <div class="col-6">
                                    <label>From:</label>
                                    <input type="text" name="FromDate" id="FromDate">
                                    <input type="hidden" id="frmDt" />
                                </div>

                                <div class="col-6">
                                    <label>To:</label>
                                    <input type="text" name="ToDate" id="ToDate">
                                    <input type="hidden" id="toDt" />
                                </div>
                            </div>
                        </div>
                        <hr style="background: #d0cbcb !important; height: 1px;" />
                        <div>
                            <label>Report</label>
                            <div>
                                @Html.DropDownList("Rept", new SelectList(ViewBag.AssignedReports, "value", "text"), null, new { @id = "reportType", @class = "form-control col-12" })
                                <input type="hidden" name="SortBy" value="CreatedAt" id="SortBy" />
                                <input type="hidden" value="Desc" name="SortOrder" id="SortOrder" />
                            </div>
                        </div>
                        <hr style="background:#d0cbcb; height:1px;" /> 
                        <div class="d-flex justify-content-end">
                            <input type="button" class="btn btn-primary" value="SEARCH" id="btnFilterSearch" />
                        </div>
                    }
                </div>
             

                <div class="col-xs-12 col-sm-6 col-md-9">
                    <div class="exportdata table-responsive" style="height:500px; overflow:scroll;   max-width: 100%;">
                        <table class="table table-bordered" id="datatable-icons">
                            <thead>
                                <tr>
                                    <th data-sortby="CreatedAt">DATE/TIME</th>
                                    <th data-sortby="TransactionId">TRANS ID</th>
                                    <th data-sortby="TransactionType">TYPE</th>
                                    <th data-sortby="Reference">REF #</th>
                                    <th data-sortby="BALANCEBEFORE">BALANCE BEFORE</th>
                                    <th data-sortby="DAMOUNT">DEPOSITS</th>
                                    <th data-sortby="SAMOUNT">SALES</th>
                                    <th data-sortby="BALANCE">BALANCE</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                                @Html.Partial("Partials/_balanceSheetReportListing", Model)
                            </tbody>
                        </table>
                    </div>
                    @*@Html.Partial("_Paging")*@
                </div>
                <div style="clear:both"></div>
            </div>

        </div>

    </div>
</div>
<div class="modal fade" id="modalCart2">
    @Html.Partial("_voucherReprint")
</div>
<div class="modal fade" id="modalCart3">
    @Html.Partial("_RequestResponseJSON")
</div>

@section scripts{



    <script src="~/Scripts/UserDefinedScripts/paging.js"></script>
    <script type="text/javascript">
    </script>
    <script src="~/Scripts/AdminScripts/balanceSheetReport.js"></script>
    <script src="~/Scripts/AdminScripts/reportFilter.js"></script>
    <script src="~/Content/css/Kendo/js/kendo.all.min.js"></script>
    <script src="~/Scripts/jspdf.min.js"></script>
    <script src="~/Scripts/html2canvas.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.514/js/cultures/kendo.culture.en-GB.min.js"></script>

    <script src="~/Scripts/Receipt.js"></script>

    <!-- dev URL -->
    <script src="https://rawgit.com/unconditional/jquery-table2excel/master/src/jquery.table2excel.js"></script>

    <script type="text/javascript">
        var totalCount = "@Model.TotalCount";
        $(document).ready(function () {

            App.init();

            $('#PrintType').on("change", function () {
                $('#ExportType').val($(this).val());
            });

            $("#btnExport").click(function (e) {
                var frm = $("#FromDate").val();
                var to = $("#ToDate").val();
                if (frm) {
                    var dtVal = frm.split("/");
                    $("#frmDt").val(frm);//dtVal[1] + "/" + dtVal[0] + "/" + dtVal[2]
                }
                else {
                    $("#frmDt").val('');

                }
                if (to) {
                    var dtVal = to.split("/");
                    $("#toDt").val(to);//dtVal[1] + "/" + dtVal[0] + "/" + dtVal[2]
                }
                else {
                    $("#toDt").val('');
                }

                $('#salesForm').attr('action', '/Admin/Report/ExportBalanceSheetReportTo');
                $("#salesForm").attr("method", "Post");
                $("#salesForm").submit();
            })

            $('#btnprint').click(function (e) {

                $('#salesForm').attr('action', '/Admin/Report/PrintBalancesheetReport');
                $("#salesForm").attr("method", "get");
                $("#salesForm").submit();
            });
        });
    </script>


}

