@model PagingResult<AgentRevenueListingModel>
@{
    /**/

    ViewBag.Title = "Manage Deposits Reports";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml";
}
<link href="~/Content/css/Kendo/css/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/css/Kendo/css/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/css/Kendo/css/kendo.default.mobile.min.css" rel="stylesheet" />
<style>
    input {
        font-weight: bold;
        text-transform: uppercase;
    }

    select {
        font-weight: bold;
        text-transform: uppercase;
    }

    label {
        font-weight: bold;
        text-transform: uppercase;
    }

    option {
        font-weight: bold;
    }
</style>
<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h4><b>Manage Agents Revenue</b></h4>

    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat"> 

                    <div class="content">
                        <div class="table-responsive">
                            <div id="divResult">
                                <div class="topsec">

                                    <h2><label>REPORTS</label></h2>
                                    <label>Revenue Report</label>
                                    <label>From: <span id="fromSpan">_</span>&nbsp;&nbsp;&nbsp;&nbsp; To: <span id="toSpan">_</span> </label>
                                    <label>Printed on: <span id="printedDate">  @ViewBag.Pritdatetime @*@DateTime.Now.ToString("dd/MMM/yyyy hh:mm:ss tt")*@</span></label>
                                    <label>
                                        Export:
                                        <select name="PrintType" id="PrintType">
                                            <option value="Excel">Excel</option>
                                            <option value="PDF">PDF</option>
                                        </select>
                                    </label>

                                    <label>
                                        <button type="button" id="btnExport">Export</button>
                                    </label>
                                    <label>
                                        <button type="button" id="btnprint">Print</button>
                                    </label>
                                </div>
                                <div class="blwsec">
                                    @using (Html.BeginForm("ExportAgentsRevenueReportTo", "Report", FormMethod.Post, new { @id = "depositsForm" }))
                                    {
                                        <div class="blwsec-left">
                                            <input type="hidden" name="ExportType" id="ExportType" value="Excel" />
                                            <input type="hidden" name="PrintedDateServer" id="PrintedDateServer" />
                                            <input type="hidden" id="vendor"/>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-md-2" style=" width:31% !important;">Agency:</label>
                                                @Html.DropDownList("AgencyId", new SelectList(ViewBag.Agencies, "value", "text"), "Select Agency", new { @style = " width:68% !important;", @class = "form-control col-md-6", @id = "agency" })
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-md-2" style=" width:31% !important;">POS:</label>
                                                @Html.DropDownList("PosId", new SelectList(ViewBag.PosId, "value", "text"), "-Select POS-", new { @style = " width:68% !important;", @class = "form-control col-md-6", @id = "pos" })
                                            </div>

                                            <hr style="background:#d0cbcb; height:1px;" />
                                            <div class="form-group row">
                                                <label style="width: 100%;">TRANSACTION PERIOD</label>
                                                <div style="width: 49%; float: left; ">
                                                    <label>From:</label>
                                                    <input type="text" name="FromDate" id="FromDate">
                                                    <input type="hidden" id="frmDt" />
                                                </div>

                                                <div style="width: 49%; float: right; ">
                                                    <label>To:</label>
                                                    <input type="text" name="ToDate" id="ToDate">
                                                    <input type="hidden" id="toDt" />
                                                </div>
                                            </div>

                                            <hr style="background:#d0cbcb; height:1px;" />

                                            <div class="form-group row">
                                                <label>Report</label>
                                                @Html.DropDownList("Rept", new SelectList(ViewBag.AssignedReports, "value", "text"), null, new { @class = "form-control", @id = "reportType" })
                                                <input type="hidden" name="SortBy" value="CreatedAt" id="SortBy" />
                                                <input type="hidden" value="Desc" name="SortOrder" id="SortOrder" />
                                            </div>
                                            <hr style="background:#d0cbcb; height:1px;" /> 
                                            <div>
                                                <input type="button" class="btn btn-primary" value="Search" id="btnFilterSearch" /> 
                                            </div>


                                        </div>
                                    }
                                    <div class="blwsec-right">
                                        <div class="exportdata" style="height:500px; overflow:scroll;   max-width: 100%;">
                                            <table class="table table-bordered" id="datatable-icons">
                                                <thead>
                                                    <tr>
                                                        <th class="sorting" data-sortby="CreatedAt">DATE/TIME</th>
                                                        <th class="sorting" data-sortby="POS">POS ID</th>
                                                        <th class="sorting" data-sortby="Vendor">VENDOR</th>
                                                        <th class="sorting" data-sortby="PaymentType">TYPE</th>
                                                        <th class="sorting" data-sortby="TransactionId">TRANS ID</th>
                                                        <th class="sorting" data-sortby="CheckNumberOrSlipId">REF #</th>
                                                        <th class="sorting" data-sortby="Amount">AMOUNT</th>
                                                        <th class="sorting" data-sortby="PercentageAmount">VENDOR @@ 1%</th>
                                                        <th class="sorting" data-sortby="NewBalance">AGENT @@ 0.5%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @Html.Partial("Partials/_agentsRevenueReportListing", Model)
                                                </tbody>
                                            </table>
                                        </div>
                                        @*@Html.Partial("_Paging")*@
                                    </div>
                                    <div style="clear:both">

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="depositDetailModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-body">
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/UserDefinedScripts/paging.js"></script>
    <script src="~/Scripts/AdminScripts/agencyRevenueReport.js"></script>
    <script src="~/Scripts/AdminScripts/reportFilter.js"></script>
    <script src="~/Content/css/Kendo/js/kendo.all.min.js"></script>
    <script src="~/Scripts/jspdf.min.js"></script>
    <script src="~/Scripts/html2canvas.min.js"></script>
    <script src="~/Scripts/Receipt.js"></script>


    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>*@






    <script type="text/javascript">
        var totalCount = "@Model.TotalCount";

        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        };
        $(document).ready(function () {
            if (@Html.Raw(Json.Encode(Model.List)) == null) {
                swal("Error!", "Either Your Record Is Empty Or you Don't Have Permission to access this page, Please contact to administrator!", "error");
            }
            else {
                App.init();
                $("#agency").on("change", function () {
                    var agencyId = $("#agency").val();
                    $("#pos").empty();
                    if (agencyId) {
                        $.ajax({
                            url: '/Admin/Report/GetAgencyPosSelectList?userId=' + agencyId,
                            success: function (res) {
                                //$("#pos").append("<option value=''> Select POS </option>")
                                if (res.posList != null) {
                                    if (res.posList.length > 1) {
                                        $("#pos").append("<option value=''> -Select POS- </option>")
                                    }
                                    if (res.posList.length == 0) {
                                        $("#pos").append("<option value=''> -NO POS - </option>")
                                    }
                                    for (var i = 0; i < res.posList.length; i++) {
                                        $("#pos").append("<option value=" + res.posList[i].Value + ">" + res.posList[i].Text + "</option>")
                                    }
                                }
                            }
                        })
                    }
                    else {
                        $("#pos").append("<option value=''> SELECT POS</option>")
                    }
                });


                const date = new Date();
                const formattedDate = date.toLocaleDateString('en-GB', {
                    day: '2-digit', month: '2-digit', year: 'numeric'
                }).replace(/ /g, '-') + " " + date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }).replace("AM", "").replace("PM", "");
                // $("#printedDate").text(printDt.getDate() + "/" + getMonthName(printDt.getMonth()) + "/" + printDt.getFullYear()+" "+printDt.toLocaleTimeString());
                
                $("#printedDate").text(formattedDate);
                $("#PrintedDateServer").val(formattedDate);

                $('#PrintType').on("change", function () {
                    $('#ExportType').val($(this).val());
                });

                $("#btnExport").click(function (e) {

                    var frm = $("#FromDate").val();
                    var to = $("#ToDate").val();
                    if (frm) {
                        var dtVal = frm.split("/");
                        $("#frmDt").val(dtVal[1] + "/" + dtVal[0] + "/" + dtVal[2]);
                    }
                    else {
                        $("#frmDt").val('');

                    }
                    if (to) {
                        var dtVal = to.split("/");
                        $("#toDt").val(dtVal[1] + "/" + dtVal[0] + "/" + dtVal[2]);
                    }
                    else {
                        $("#toDt").val('');
                    }

                    $('#depositsForm').attr('action', '/Admin/Report/ExportAgentRevenueReportTo');
                    $("#depositsForm").attr("method", "Post");
                    $("#depositsForm").submit();
                })

                $('#btnprint').click(function (e) {
                    $('#depositsForm').attr('action', '/Admin/Report/PrintAgencyRevenueReport');
                    $("#depositsForm").attr("method", "get");
                    $("#depositsForm").submit();
                });
            }
        });

    </script>
}

