@model PagingResult<DepositListingModel>
@{
    /**/

    ViewBag.Title = "Manage Deposits Reports";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml";
}
<link href="~/Content/css/Kendo/css/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/css/Kendo/css/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/css/Kendo/css/kendo.default.mobile.min.css" rel="stylesheet" />
                    <style> 
                         input {
                            font-weight: bold;
                            text-transform: uppercase;
                        }

                        select {
                            font-weight: bold;
                            text-transform: uppercase;
                        }

                        label {
                            font-weight: bold;
                            text-transform: uppercase;
                        }

                        option {
                            font-weight: bold;
                        }
                         

                        div.dataTables_filter > label::before {
                            content: "Quick Search :";
                        }
                    </style>
<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h4><b>Manage Deposit Report</b></h4>

    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat"> 
                    <div class="content">
                        <div class="table-responsive">
                            <div id="divResult">
                                <div class="topsec">
                                    <h2><label>DEPOSIT REPORTS</label></h2>
                                    @*<label>Deposit Report</label>*@
                                    <label>From: <span id="fromSpan">_</span>&nbsp;&nbsp;&nbsp;&nbsp; To: <span id="toSpan">_</span> </label>
                                    <label>Printed on: <span id="printedDate">  @ViewBag.Pritdatetime @*@DateTime.Now.ToString("dd/MMM/yyyy hh:mm:ss tt")*@</span></label>
                                    <label>
                                        Export:
                                        <select name="PrintType" id="PrintType">
                                            <option value="Excel">Excel</option>
                                            <option value="PDF">PDF</option>
                                        </select>
                                    </label>

                                    <label>
                                        <button type="button" id="btnExport">Export</button>
                                    </label>
                                    <label>
                                        <button type="button" id="btnprint">Print</button>
                                    </label>
                                </div>
                                <div class="blwsec">
                                    @using (Html.BeginForm("ExportDepositReportTo", "Report", FormMethod.Post, new { @id = "depositsForm" }))
                                    {
                                    <div class="blwsec-left">
                                        <input type="hidden" name="ExportType" id="ExportType" value="Excel" />
                                        <input type="hidden" name="PrintedDateServer" id="PrintedDateServer" />
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-md-2" style=" width:31% !important;">Vendor:</label>
                                            @Html.DropDownList("VendorId", new SelectList(ViewBag.Vendors, "value", "text"), "Select Vendor", new { @style = " width:68% !important;", @class = "form-control col-md-6", @id = "vendor" })
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-md-2" style=" width:31% !important;">POS:</label>
                                            @Html.DropDownList("PosId", new SelectList(ViewBag.PosId, "value", "text"), "-Select POS-", new { @style = " width:68% !important;", @class = "form-control col-md-6", @id = "pos" })
                                        </div>

                                        <hr style="background:#d0cbcb; height:1px;" />
                                        <div class="form-group row">
                                            <label style="        width: 100%;
">TRANSACTION PERIOD</label>
                                            <div style="width: 49%; float: left; ">
                                                <label>From:</label>
                                                <input type="text" name="FromDate" id="FromDate">
                                                <input type="hidden" id="frmDt" />
                                            </div>

                                            <div style="width: 49%; float: right; ">
                                                <label>To:</label>
                                                <input type="text" name="ToDate" id="ToDate">
                                                <input type="hidden" id="toDt" />
                                            </div>
                                        </div>

                                        <hr style="background:#d0cbcb; height:1px;" />

                                        <div class="form-group row">
                                            <label>Report</label>
                                            @Html.DropDownList("Rept", new SelectList(ViewBag.AssignedReports, "value", "text"), null, new { @class = "form-control", @id = "reportType" })
                                            <input type="hidden" name="SortBy" value="CreatedAt" id="SortBy" />
                                            <input type="hidden" value="Desc" name="SortOrder" id="SortOrder" />
                                        </div>
                                        <hr style="background:#d0cbcb; height:1px;" />
                                        <div class="form-group row">
                                            <label style="width:30%;">BANK:</label>
                                            @Html.DropDownList("Bank", new SelectList(ViewBag.Banks, "value", "text"), "Select BANK", new { @style = "width:65%; float:right;", @class = "form-control", @id = "bank" })
                                        </div>
                                        <div class="form-group row">
                                            <label style="width:30%;">DEPOSIT TYPE:</label>
                                            @Html.DropDownList("DepositType", new SelectList(ViewBag.DepositTypes, "value", "text"), "Select Type", new { @style = "width:65%; float:right;", @class = "form-control", @id = "depositType" })

                                        </div>
                                        <div class="form-group row">
                                            <label style="width:30%;">DEPOSIT REF #</label>
                                            <input name="RefNumber" type="text" id="refNumber" style="width:65%; float:right;" class="form-control">
                                        </div>
                                        <div>
                                            <input type="button" class="btn btn-primary" value="Search" id="btnFilterSearch" />
                                            @*<input type="reset" class="btn btn-danger" value="Reset" id="ResetButton" />*@
                                        </div>


                                    </div>
                                    }
                                <div class="blwsec-right">
                                    <div class="exportdata" style="height:560px; overflow:scroll;   max-width: 100%;">
                                        <table class="table table-bordered" id="datatable-icons">
                                            <thead>
                                                <tr>
                                                    <th class="sorting" data-sortby="CreatedAt">DATE/TIME</th>
                                                    <th class="sorting" data-sortby="POS">POS ID</th>
                                                    <th class="sorting" data-sortby="UserName">USER NAME</th>
                                                    <th class="sorting" data-sortby="PaymentType">DEPOSIT TYPE</th>
                                                    <th class="sorting" data-sortby="BANK">BANK</th>
                                                    <th class="sorting" data-sortby="CheckNumberOrSlipId">DEPOSIT REF #</th>
                                                    <th class="sorting" data-sortby="Amount">AMOUNT</th>
                                                    <th class="sorting" data-sortby="PercentageAmount">%</th>
                                                    <th class="sorting" data-sortby="NewBalance">NEW BALANCE</th>
                                                </tr>
                                            </thead>
                                            <tbody >
                                                @Html.Partial("Partials/_reportListing", Model)
                                            </tbody>
                                        </table>
                                    </div>
                                    @*@Html.Partial("_Paging")*@
                                </div>
                                    <div style="clear:both">

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/UserDefinedScripts/paging.js"></script>
    <script src="~/Scripts/AdminScripts/report.js"></script>
    <script src="~/Content/css/Kendo/js/kendo.all.min.js"></script>
    <script src="~/Scripts/jspdf.min.js"></script>
    <script src="~/Scripts/html2canvas.min.js"></script>



    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>*@






    <script type="text/javascript">
        var totalCount = "@Model.TotalCount";

        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        };
        $(document).ready(function () {

            //  $('#datatable-icons').DataTable({
            //    "sScrollY": "380px",
            //});

              $("#FromDate").kendoDatePicker({
                culture: "en-GB",
                  value: new Date(),
                  format : "dd/MM/yyyy"
            });
            $("#ToDate").kendoDatePicker({
                culture: "en-GB",
                value: new Date(),
                format : "dd/MM/yyyy"
            });
                App.init();

            debugger;
             var type = getUrlParameter("type"); 
            if(type)
            $("#reportType").val(type);
            App.init();
            //initialize the javascript 


            //var todayDate = kendo.toString(kendo.parseDate(new Date()), 'MM/dd/yyyy');
            //$("#FromDate").data("kendoDatePicker").value(todayDate);
            //$("#ToDate").data("kendoDatePicker").value(todayDate);
 

        $("#vendor").on("change", function () {
            var vendorId = $("#vendor").val();
            $("#pos").empty();
            if (vendorId) {
                $.ajax({
                    url: '/Admin/Report/GetVendorPosSelectList?userId='+vendorId,
                    success: function (res) {
                        $("#pos").append("<option value=''> Select POS </option>")
                        if (res.posList != null) {
                            for (var i = 0; i < res.posList.length; i++) {
                                $("#pos").append("<option value=" + res.posList[i].Value + ">" + res.posList[i].Text + "</option>")
                            }
                        }
                    }
                })
            }
            else {
                $("#pos").append("<option value=''> SELECT POS</option>")
            }
        });
           
 
        const date = new Date();
        const formattedDate = date.toLocaleDateString('en-GB', {
            day: '2-digit', month: '2-digit', year: 'numeric'
        }).replace(/ /g, '-') + " " + date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }).replace("AM", "").replace("PM", "");
        // $("#printedDate").text(printDt.getDate() + "/" + getMonthName(printDt.getMonth()) + "/" + printDt.getFullYear()+" "+printDt.toLocaleTimeString());
        $("#printedDate").text(formattedDate);
        $("#PrintedDateServer").val(formattedDate);

        function downloadURI(imgData, name) {
                var link = document.createElement("a");


                var pdf = new jsPDF();

                const imgProps = pdf.getImageProperties(imgData);
                const pdfWidth = pdf.internal.pageSize.getWidth();
                const pdfHeight = (imgProps.height * pdfWidth) / imgProps.width;
                pdf.addImage(imgData, 'PNG', 10, 10, pdfWidth-20, pdfHeight-20);

                //pdf.addImage(uri, 'JPEG', 0, 0,width,height);
                pdf.save(name);
                //link.download = name;
                //link.href = uri;
                //document.body.appendChild(link);
                //link.click();

        }



        $('#PrintType').on("change", function () {
            $('#ExportType').val($(this).val());
        });

        $("#btnExport").click(function (e) {

            debugger;
                var frm = $("#FromDate").val();
                var to = $("#ToDate").val();
                if (frm) {
                    var dtVal = frm.split("/");
                    $("#frmDt").val(dtVal[1] + "/" + dtVal[0] + "/" + dtVal[2]);
                }
                else {
                    $("#frmDt").val('');

                }
                if (to) {
                    var dtVal = to.split("/");
                    $("#toDt").val(dtVal[1] + "/" + dtVal[0] + "/" + dtVal[2]);
                }
                else {
                    $("#toDt").val('');
            }

                $('#depositsForm').attr('action', '/Admin/Report/ExportDepositReportTo');
                $("#depositsForm").attr("method", "Post");
                $("#depositsForm").submit();
        })

        $('#btnprint').click(function (e) {
            $('#depositsForm').attr('action', '/Admin/Report/PrintDepositReport');
            $("#depositsForm").attr("method", "get");
            $("#depositsForm").submit();
        });


            Deposits.ManageDeposits(totalCount);
           var d = new Date();
            $("#FromDate").kendoDatePicker({
                max: new Date(d.getFullYear(), d.getMonth(), d.getDate()),
                format: "dd/MM/yyyy"
            });
            var datePicker1 = $("#FromDate").data("kendoDatePicker");
            $("#FromDate").click(function () {
                datePicker1.open();
            })
            $("#ToDate").kendoDatePicker({
                max: new Date(d.getFullYear(), d.getMonth(), d.getDate()),
                format: "dd/MM/yyyy"
            });
            var datePicker2 = $("#ToDate").data("kendoDatePicker");
            $("#ToDate").click(function () {
                datePicker2.open();
            })
        });
    </script>
}

