@model PagingResult<MeterRechargeApiListingModel>
@{

    ViewBag.Title = "Manage Sales Reports";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml"; }
<link href="~/Content/css/Kendo/css/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/css/Kendo/css/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/css/Kendo/css/kendo.default.mobile.min.css" rel="stylesheet" />

<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h4><b>Manage Sales Report</b></h4>
    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <style>
                        input {
                            font-weight: bold;
                            text-transform: uppercase;
                        }

                        select {
                            font-weight: bold;
                            text-transform: uppercase;
                        }

                        label {
                            font-weight: bold;
                            text-transform: uppercase;
                        }

                        option {
                            font-weight: bold;
                        }

                        .miniReportBtn {
                            border: none;
                            background: black;
                            color: white;
                            font-weight: bold;
                        }
                    </style>

                    <div class="content">
                        <div class="table-responsive">
                            <div id="divResult">
                                <div class="topsec">
                                    <h2>SALES REPORTS</h2>
                                    @*<label>Sales Report</label>*@
                                    <label>From: <span id="fromSpan">_</span>&nbsp;&nbsp;&nbsp; To: <span id="toSpan">_</span> </label>
                                    <label>Printed on: <span id="printedDate">@ViewBag.Pritdatetime</span></label>
                                    <label>
                                        Export:
                                        <select name="PrintType" id="PrintType">
                                            <option value="Excel">Excel</option>
                                            <option value="PDF">PDF</option>
                                        </select>
                                    </label>

                                    <label>
                                        <button type="button" id="btnExport">Export</button>
                                    </label>
                                    <label>
                                        <button type="button" id="btnprint">Print</button>
                                    </label>
                                    <label class="pull-right" >
                                        <button type="button"  onclick="miniSalesReportHandler.openMiniSalesReportModal('daily')">SALES SUMMARY</button>
                                    </label>

                                </div>

                                <div class="blwsec">
                                    @using (Html.BeginForm("ExportSalesReportTo", "Report", FormMethod.Post, new { @id = "salesForm" }))
                                    {
                                        <div class="blwsec-left">
                                            <input type="hidden" name="ExportType" id="ExportType" value="Excel" />
                                            <input type="hidden" name="PrintedDateServer" id="PrintedDateServer" />
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-md-2" style=" width:31% !important;">Vendor:</label>
                                                @Html.DropDownList("VendorId", new SelectList(ViewBag.Vendors, "value", "text"), "SELECT VENDOR", new { @style = " width:68% !important;", @class = "form-control col-md-6", @id = "vendor" })
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-md-2" style=" width:31% !important;">POS:</label>
                                                @Html.DropDownList("PosId", new SelectList(ViewBag.PosId, "value", "text"), "-SELECT POS-", new { @style = " width:68% !important;", @class = "form-control col-md-6", @id = "pos" })
                                            </div>

                                            <hr style="background:#d0cbcb; height:1px;" />

                                            <div class="form-group row">
                                                <label style="width:100%;">TRANSACTION PERIOD</label>
                                                <div style="width: 49%; float: left; ">
                                                    <label>From:</label>
                                                    <input type="text" name="FromDate" id="FromDate">
                                                    <input type="hidden" id="frmDt" />
                                                </div>

                                                <div style="width: 49%; float: right; ">
                                                    <label>To:</label>
                                                    <input type="text" name="ToDate" id="ToDate">
                                                    <input type="hidden" id="toDt" />
                                                </div>
                                            </div>
                                            <hr style="background: #d0cbcb !important; height: 1px;" />
                                            <div class="form-group row">
                                                <label>Report</label>
                                                @Html.DropDownList("Rept", new SelectList(ViewBag.AssignedReports, "value", "text"), null, new { @id = "reportType", @class = "form-control" })
                                                <input type="hidden" name="SortBy" value="CreatedAt" id="SortBy" />
                                                <input type="hidden" value="Desc" name="SortOrder" id="SortOrder" />
                                            </div>
                                            <hr style="background:#d0cbcb; height:1px;" />
                                            <div class="form-group row">
                                                <label style="width:30%;  float:left;">Meter #:</label>
                                                <input name="Meter" type="text" id="meterNo" style="width:65%; float:right;" class="form-control">
                                            </div>
                                            <div class="form-group  row">
                                                <label style="width:30%;  float:left;">VT Trans ID:</label>
                                                <input name="TransactionId" type="text" id="tranId" style="width:65%; float:right;" class="form-control">
                                            </div>
                                            <div class="form-group  row">
                                                <label style="width:30%;  float:left;">PRODUCT:</label>
                                                <input name="ProductId" type="text" id="productId" style="width:65%; float:right;" class="form-control">
                                            </div>
                                            <input type="button" class="btn btn-primary" value="SEARCH" id="btnFilterSearch" />
                                        </div>
                                    }

                                    <div class="blwsec-right">
                                        <div class="exportdata" style="height:500px; overflow:scroll; scrollbar-face-color:yellow;  max-width: 100%;">
                                            <table class="table table-bordered" id="datatable-icons">
                                                <thead>
                                                    <tr>
                                                        <th class="sorting" data-sortby="CreatedAt">DATE/TIME</th>
                                                        <th>PRODUCT </th>
                                                        <th class="sorting" data-sortby="TransactionId">TRANS ID</th>
                                                        <th class="sorting" data-sortby="MeterNumber">METER #</th>
                                                        <th class="sorting" data-sortby="VendorName">VENDOR</th>
                                                        <th class="sorting" data-sortby="POS">POS ID</th>
                                                        <th>REQUEST/RESPONSE</th>
                                                        <th>TOKEN</th>
                                                        <th class="sorting" data-sortby="Amount">AMOUNT</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @Html.Partial("Partials/_salesReportListing", Model)
                                                </tbody>
                                            </table>
                                        </div>
                                        @*<div style="display:none">@Html.Partial("_Paging")</div>*@


                                    </div>
                                    <div style="clear:both"></div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalCart2">
    @Html.Partial("_voucherReprint")
</div>
<div class="modal fade" id="modalCart3">
    @Html.Partial("_RequestResponseJSON")
</div>

@Html.Partial("Partials/_miniSalesReport")

@section scripts{



    <script src="~/Scripts/UserDefinedScripts/paging.js"></script>
    <script type="text/javascript">
    </script>
    <script src="~/Scripts/AdminScripts/salesReport.js"></script>
    <script src="~/Scripts/AdminScripts/reportFilter.js"></script>
    <script src="~/Content/css/Kendo/js/kendo.all.min.js"></script>
    <script src="~/Scripts/jspdf.min.js"></script>
    <script src="~/Scripts/html2canvas.min.js"></script>
    <script src="~/Scripts/UserScripts/sms.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.514/js/cultures/kendo.culture.en-GB.min.js"></script>

    <script src="~/Scripts/Receipt.js"></script>

    <!-- dev URL -->
    <script src="https://rawgit.com/unconditional/jquery-table2excel/master/src/jquery.table2excel.js"></script>

    <script type="text/javascript">
        var totalCount = "@Model.TotalCount";
        $(document).ready(function () {
            App.init();
            $('#PrintType').on("change", function () {
                $('#ExportType').val($(this).val());
            });

            $("#btnExport").click(function (e) {
                var frm = $("#FromDate").val();
                var to = $("#ToDate").val();
                //if (frm) {
                //    var dtVal = frm.split("/");
                //    $("#frmDt").val(dtVal[1] + "/" + dtVal[0] + "/" + dtVal[2]);
                //}
                //else {
                //    $("#frmDt").val('');

                //}
                //if (to) {
                //    var dtVal = to.split("/");
                //    $("#toDt").val(dtVal[1] + "/" + dtVal[0] + "/" + dtVal[2]);
                //}
                //else {
                //    $("#toDt").val('');
                //}

                $('#salesForm').attr('action', '/Admin/Report/ExportSalesReportTo');
                $("#salesForm").attr("method", "Post");
                $("#salesForm").submit();
            })

            $('#btnprint').click(function (e) {

                $('#salesForm').attr('action', '/Admin/Report/PrintSalesReport');
                $("#salesForm").attr("method", "get");
                $("#salesForm").submit();
            });
        });
    </script>


}

